<div class="rightBox mt-3">
  <mat-card *ngIf="!cartData?.length">
    <mat-card-header>
      <mat-card-title class="text-capitalize">Cart Empty</mat-card-title>
    </mat-card-header>
    <img
      mat-card-image
      class="w-100"
      style="height: 300px; margin: auto"
      src="../../../assets/images/empty_cart.jpg"
      alt="empty cart"
    />
    <div class="text-muted py-2">
      Your cart is look like empty. Go ahead , items are waiting in the menu
      card.
    </div>
    <mat-card-actions align="center">
      <a *ngIf="goToShopBtn" [routerLink]="['/zippy/user/shop']">
        <button mat-raised-button color="warn" class="w-50">
          VIEW ALL SHOPS
        </button></a
      >
    </mat-card-actions>
  </mat-card>
  <!-- <mat-progress-bar mode="indeterminate"></mat-progress-bar> -->
  <mat-card *ngIf="cartData?.length">
    <mat-card-content>
      <h4 class="text-capitalize w-100 d-flex justify-content-between my-0">
        <div>Order Summary</div>
        <div style="font-size: 16px">
          {{
            totalOrderQuantity > 1
              ? totalOrderQuantity + " Item's"
              : totalOrderQuantity + " Item"
          }}
        </div>
      </h4>
      <div style="font-size: 16px" class="d-flex justify-content-between mb-4">
        <div class="px-1">
          From
          <a [routerLink]="['../' + cratshop?._id]" style="color: #5ac579">{{
            cratshop?.shopName | titlecase
          }}</a>
        </div>
      </div>

      <!-- car code  -->
      <div class="cart-items-row mb-2" *ngFor="let i of cartData">
        <div>
          <img
            class="card-imgs"
            width="70px"
            height="70px"
            src="{{ SERVER_URL }}{{ i?.imageUrl[0] }}"
            alt=""
          />
        </div>
        <div class="mx-2 w-100">
          <div [title]="i?.productName" class="d-flex justify-content-between">
            <div class="product-name">
              {{ i?.productName }}
            </div>
            <div class="del-button">
              <mat-icon
                (click)="RemoveItemFromCard('remove', i?.l?.id)"
                title="Remove from cart"
                >clear</mat-icon
              >
            </div>
          </div>
          <div class="d-flex align-items-center w-100">
            <div class="d-flex align-items-center">
              <button
                (click)="UpdateCardQuantity(i?.l?.q?._id, 'sub')"
                class="cartbtn"
              >
                <mat-icon>remove</mat-icon>
              </button>
              <div style="width: 30px; display: flex; justify-content: center">
                {{ i?.l?.orderQuantity }}
              </div>
              <button
                (click)="UpdateCardQuantity(i?.l?.q?._id, 'add')"
                class="cartbtn"
              >
                <mat-icon>add</mat-icon>
              </button>
            </div>
            <div class="price">
              &nbsp; &nbsp; &nbsp; &nbsp;
              {{
                i?.OrderQuantity * i?.sellingPrice
                  | currency: "INR":"symbol":"0.0"
              }}
              &nbsp; &nbsp;
              <small class="text-muted">{{ i?.Quantity }}</small>
            </div>
          </div>
        </div>
      </div>
      <div class="d-flex justify-content-between px-4">
        <mat-label><h6>TO PAY</h6> </mat-label>
        <mat-label>
          <h6>
            {{ calculateTotal("price") | currency: "INR":"symbol":"0.0" }}
          </h6>
        </mat-label>
      </div>
    </mat-card-content>
    <mat-card-actions align="center">
      <a *ngIf="goToCardBtn" [routerLink]="['../../cart']"
        ><button mat-button class="saveBtn w-50">Go to Cart</button></a
      >
    </mat-card-actions>
  </mat-card>
</div>
