.card-imgs {
  // border-radius: 3px !important;
}
.cart-items-row {
  display: flex;
  border-bottom: 1px solid #a2a6ac;
  padding: 5px 10px;
}
.product-name {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 250px;
  text-transform: capitalize;
}
.cartbtn {
  border: 0px;
  padding: 1px;
  height: 25px;
  border-radius: 3px;
  &:hover {
    color: #5ac579;
  }
}
.del-button {
  color: #a2a6ac !important;
  cursor: pointer;
  &:hover {
    color: red !important;
  }
}
.price {
  font-family: sans-serif;
}

.widthClass {
  width: 20px;
}
