<div class="restaurants">
  <div class="corosol"></div>
  <div class="fd-header">
    <nav id="filterNav" class="navbar navbar-light bg-light">
      <div class="container-fluid">
        <div class="d-flex">
          <div class="align-self-center px-4" style="cursor: pointer">
            <b>{{ totalRestaurant }} Restaurants found near you</b>
          </div>
        </div>
        <div class="navitem">
          <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
              <div class="navbar-nav">
                <a class="nav-link px-3 active"
                  ><mat-label>Relevance</mat-label></a
                >
                <a class="nav-link px-3"> Cost for Two </a>
                <a class="nav-link px-3">Delivery Time </a>
                <a class="nav-link px-3"> Rating</a>
                <a class="nav-link px-3">
                  Filters
                  <mat-icon>filter_alt</mat-icon>
                </a>
              </div>
            </div>
          </nav>
        </div>
      </div>
    </nav>
  </div>

  <!-- card list  -->
  <div class="cardContainer">
    <div class="d-flex" *ngFor="let item of cardList">
      <a
        *ngFor="let ele of item"
        class="d-flex"
        [routerLink]="['../shop/' + ele?._id]"
      >
        <nz-card
          class="mx-2 my-2"
          nzHoverable
          style="width: 290px"
          [nzCover]="coverTemplate"
        >
          <div class="cardContent">
            <nz-card-meta
              class="text-center"
              nzTitle="{{ ele?.shopName | titlecase }}"
            >
            </nz-card-meta>
            <div class="px-2 mt-2 d-flex justify-content-between">
              <div
                class="rating d-flex px-2"
                style="background-color: #5ac579; color: #fff"
              >
                <mat-icon style="font-size: 20px">star</mat-icon>
                {{ ele?.rating.length }}
              </div>
              <div class="zippyMember text-muted">
                {{
                  ele?.zippian
                    ? ("zippian" | titlecase)
                    : ("not zippian" | titlecase)
                }}
              </div>
            </div>
            <div class="offer mt-3">
              <div class="d-flex justify-content-around">
                <div *ngIf="ele?.discountPer !== 0">
                  <img
                    class="img-fluid"
                    style="width: 20px; height: 20px"
                    src="./../../../assets/images/discount.png"
                    alt=""
                  />

                  <mat-label class="text-uppercase"
                    >{{ ele?.discountPer }} % off</mat-label
                  >
                </div>
                <small *ngIf="ele?.discountPer === 0">No Offer appicable</small>
                |
                <mat-label class="text-uppercase"
                  >Use {{ ele?.couponCode }} Zippy</mat-label
                >
              </div>
              <hr />
              <div class="quickView">VIEW</div>
            </div>
          </div>
          <!-- <nz-card-meta nzTitle="{{ ele?.shopName }}"> </nz-card-meta>
        <div class="discriptions d-flex">
          <div *ngFor="let d of ele?.description">{{ d }}&nbsp;</div>
        </div>
        <div class="infobar mt-3 mx-0 px-0">
          <div class="row w-100">
            <div class="col">
              <div
                class="d-flex justify-content-center w-75"
                style="background-color: #5ac579; color: #fff"
              >
                <mat-icon style="font-size: 20px">star</mat-icon>
                <div class="align-self-center">
                  {{ ele?.rating.length == 0 ? ele?.rating : "0" }}0
                </div>
              </div>
            </div>
            <div class="col p-1 d-flex justify-content-center">
              {{ ele?.deliveryTime }} 
              120 min
            </div>
            <div class="col p-1 d-flex justify-content-center">
              {{ ele?.rupeeForTow }} 
              200 For Two
            </div>
          </div>
          <hr />
        </div>
        <div class="offer">
          <img
            class="img-fluid"
            style="width: 20px; height: 20px"
            src="./../../../assets/images/discount.png"
            alt=""
          />

          <mat-label class="text-uppercase">{{ ele?.discount }}% off</mat-label
          >|
          <mat-label class="text-uppercase"
            >Use {{ ele?.couponCode }} Zippy</mat-label
          >
          <hr />
          <div class="quickView">VIEW</div>
        </div> -->
        </nz-card>
      </a>
      <ng-template #coverTemplate>
        <div class="d-flex justify-content-center">
          <img
            style="width: 200px; height: 200px; padding: 10px"
            alt="example"
            src="./../../../assets/images/Image-login_btpq7r.png"
          />
        </div>
      </ng-template>
      <hr />
    </div>
  </div>

  <button (click)="openFilter()" id="myBtn" title="filter">
    <mat-icon>filter_alt</mat-icon>
  </button>
</div>

<ngx-spinner
  bdColor="rgba(0, 0, 0, 0.2)"
  size="medium"
  color="#fff"
  type="line-scale"
  [fullScreen]="true"
  ><p style="color: white; margin-top: 20px">Loading...</p></ngx-spinner
>
<!-- <router-outlet></router-outlet> -->
