.restaurants {
  .corosol {
    width: 100%;
    height: 300px;
    background-color: #171a29;
  }
  .fd-header {
    z-index: 99999 !important;
    nav {
      background-color: #ebefe5 !important;
    }
    .location {
      // font-weight: bold;
      font-family: "Roboto", sans-serif;
      cursor: pointer;
      text-transform: capitalize;
      color: #686b78;
    }
    .logoimage {
      width: 60px;
      height: 60px;
      margin-left: 60px;
      transition: transform 0.2s;
      &:hover {
        transform: scale(1.3);
        cursor: pointer;
      }
    }
    .navitem {
      .navbar-nav {
        .nav-link {
          font-size: 16px;
          font-weight: 500;
          color: #000;
          display: flex;
          &:hover {
            color: #01533b;
          }
        }
        .active {
          color: #01533b;
        }
      }
    }
  }

  .cardContainer {
    padding: 30px 40px;
    nz-card .discriptions {
      color: rgba(0, 0, 0, 0.45);
      font-size: 12px;
    }
    nz-card {
      &:hover {
        .quickView {
          color: #0f49c7;
        }
      }
      .offer {
        mat-label {
          color: #8b4513;
          padding: 0px 7px;
        }
        .quickView {
          font-size: 18px;
          letter-spacing: 1px;
          font-weight: 500;
          text-align: center;
        }
      }
    }
  }
}
.col {
  color: rgba(0, 0, 0, 0.45);
  font-size: 12px;
}
// ::ng-deep .ant-card-meta-detail > div:not(:last-child) {
//   margin-bottom: 10px !important;
// }

.fd-hide-header {
  display: none;
}
.fixed-top {
  z-index: 1 !important;
}
// ::ng-deep .ant-card-bordered {
//   border: none !important;
// }
// ::ng-deep hr:not([size]) {
//   height: 0px !important;
// }

#myBtn {
  display: block; /* Hidden by default */
  position: fixed; /* Fixed/sticky position */
  bottom: 20px; /* Place the button at the bottom of the page */
  right: 30px; /* Place the button 30px from the right */
  z-index: 99; /* Make sure it does not overlap */
  border: none; /* Remove borders */
  outline: none; /* Remove outline */
  background-color: #fff; /* Set a background color */
  color: #01533b; /* Text color */
  cursor: pointer; /* Add a mouse pointer on hover */
  padding: 13px 13px 6px 13px; /* Some padding */
  border-radius: 10px; /* Rounded corners */
  background-color: #ebefe5;
  //   font-size: 18px; /* Increase font size */
}

#myBtn:hover {
  background-color: #01533b; /* Add a dark-grey background on hover */
  color: #fff;
}
