.dashboard {
  .row {
    .sellerMenu {
      //       margin-left: 20px !important;
    }
  }
}
// ::ng-deep .ant-menu {
//   background-color: #52b575 !important;
//   color: #fff !important;
//   &:hover {
//     color: #fff !important;
//   }
// }
