// #f6802a
.fd-header {
  // margin-bottom: 75px;

  .myNab {
    -webkit-box-shadow: 0px 6px 7px -1px rgba(204, 194, 204, 1);
    -moz-box-shadow: 0px 6px 7px -1px rgba(204, 194, 204, 1);
    box-shadow: 0px 6px 7px -1px rgba(204, 194, 204, 1);
    background-color: #fff !important;
  }
  nav {
    background-color: #fff !important;
    // transition: top 0.8s cubic-bezier(0.77, 0, 0.175, 1);
  }
  .location {
    // font-weight: bold;
    font-family: "Roboto", sans-serif;
    cursor: pointer;
    text-transform: capitalize;
    color: #686b78;
  }
  .logoimage {
    width: 180px;
    height: 60px;
    margin-left: 60px;
    transition: transform 0.2s;
    cursor: pointer;
  }
  .navitem {
    .navbar-nav {
      .nav-link {
        font-size: 16px;
        font-weight: 500;
        color: #000;
        display: flex;
        &:hover {
          color: #52b575;
        }
      }
    }
  }
}
.fd-hide-header {
  display: none;
}
.fixed-top {
  z-index: 1 !important;
}
.navbar{
  padding-top: 0px !important;
  padding-bottom: 0px !important;
}
::ng-deep .green-progress .mat-progress-bar-fill::after {
    background-color: #4b9b62 !important;
    height: 80px !important;
}