<div class="fd-header" id="header">
  <nav id="appNav" class="navbar myNab navbar-light bg-light fixed-top">
    <div class="container-fluid">
      <div class="d-flex">
        <a>
          <img
            src="../../../assets/images/zippyfullicon.png"
            class="logoimage"
            alt="zipper"
        /></a>
      </div>
      <div class="navitem">
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
          <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav">
              <a class="nav-link px-3"
                ><mat-icon>search</mat-icon> <mat-label>Search</mat-label></a
              >
              <a class="nav-link px-3">
                <mat-icon class="material-icons">local_offer</mat-icon> Offers
              </a>

              <a
                *ngIf="!isUserloggedIn"
                (click)="openDrawer()"
                class="nav-link px-3 align-self-center"
              >
                <mat-icon class="">person</mat-icon>
                SignIn</a
              >
              <a
                *ngIf="
                  isUserloggedIn &&
                  (userRole == 'seller' || userRole == 'admin')
                "
                nz-dropdown
                [nzDropdownMenu]="menu"
                class="nav-link px-3 align-self-center"
              >
                <mat-icon class="">person</mat-icon>
                {{ userName | titlecase }}
                <nz-dropdown-menu #menu="nzDropdownMenu">
                  <ul nz-menu nzSelectable>
                    <li nz-menu-item>Profile</li>
                    <li (click)="logout()" nz-menu-item nzDanger>Logout</li>
                  </ul>
                </nz-dropdown-menu>
              </a>
              <a class="nav-link" *ngIf="branch && isUserloggedIn">
                <nz-select
                  [(formControl)]="selectedBranch"
                  title="Select Branch"
                  nzBorderless
                  (ngModelChange)="onSelectBranch()"
                >
                  <nz-option
                    *ngFor="let item of branch"
                    [nzValue]="item?._id"
                    [nzLabel]="item?.branchname | titlecase"
                  ></nz-option>
                  <nz-option
                    *ngFor="let item of branch"
                    [nzValue]="'item?._id'"
                    [nzLabel]="'item?.branchname' | titlecase"
                  ></nz-option>
                </nz-select>
              </a>
              <a
                *ngIf="isUserloggedIn && userRole == 'user'"
                nz-dropdown
                [nzDropdownMenu]="menu"
                class="nav-link px-3 align-self-center"
              >
                <mat-icon class="">person</mat-icon>
                {{ userName | titlecase }}
                <nz-dropdown-menu #menu="nzDropdownMenu">
                  <ul nz-menu nzSelectable>
                    <a [routerLink]="['/zippy/user/dashboard']"
                      ><li nz-menu-item>Profile</li></a
                    >
                    <a [routerLink]="['/zippy/user/dashboard/myorders']"
                      ><li nz-menu-item>My Orders</li></a
                    >
                    <li nz-menu-item>Favourites</li>
                    <li (click)="logout()" nz-menu-item nzDanger>Logout</li>
                  </ul>
                </nz-dropdown-menu>
              </a>
              <a
                [routerLink]="['zippy/user/cart']"
                class="nav-link px-3"
                *ngIf="userRole !== 'admin' && userRole !== 'seller'"
                ><mat-icon>local_mall</mat-icon>
                <span
                  [matBadge]="cartlength"
                  matBadgeOverlap="true"
                  [matBadgeHidden]="!cartlength ? true : false"
                >
                  Cart</span
                >
              </a>
              <!-- <a class="nav-link px-3"><mat-icon>support</mat-icon> Help</a> -->
              <a
                *ngIf="!isUserloggedIn"
                nz-dropdown
                [nzDropdownMenu]="more"
                class="nav-link px-3 align-self-center"
              >
                <mat-icon class="">expand_more</mat-icon>
                More
                <nz-dropdown-menu #more="nzDropdownMenu">
                  <ul nz-menu nzSelectable>
                    <a [routerLink]="['zippy/addBranch']"
                      ><li nz-menu-item>Be a member of Zippy</li></a
                    >
                    <a [routerLink]="['zippy/chat']"><li nz-menu-item>Chat</li></a>
                    <a [routerLink]="['zippy']"><li nz-menu-item>Help</li></a>
                  </ul>
                </nz-dropdown-menu>
              </a>
            </div>
          </div>
        </nav>
      </div>
    </div>
    <!-- <mat-progress-bar *ngIf="loader" class="green-progress" mode="indeterminate"></mat-progress-bar> -->
  </nav>
</div>

<ngx-spinner
  bdColor="rgba(0, 0, 0, 0.2)"
  size="medium"
  color="#fff"
  type="line-scale"
  [fullScreen]="true"
  ><p style="color: white; margin-top: 20px"></p
></ngx-spinner>
