<div class="orders">
  <mat-card>
    <div class="header">
      <h5>My Orders</h5>
      <h6>Filter :</h6>
      <nz-checkbox-group
        class="mx-2"
        [(ngModel)]="checkOptions"
        (ngModelChange)="updateChecked($event)"
      ></nz-checkbox-group>
      <button
        (click)="clearfilterParams()"
        *ngIf="isEnableClearbtn"
        mat-button
        class="mx-2"
      >
        Clear
      </button>
    </div>
  </mat-card>
  <div class="mt-2 content" *ngFor="let d of datasource; let i = index">
    <a [routerLink]="['/path']">
      <mat-card>
        <div class="d-flex">
          <div class="d-flex w-50">
            <!-- <img
              class="productimage"
              src="../../../../assets/images/shop2.jpeg"
              alt=""
            /> -->
            <div class="mt-1">{{ i + 1 }}.</div>
            <div class="product">
              <div
                class="prodname"
                *ngIf="d?.name.length === 1 || d?.name.length === 2"
              >
                {{ d?.name }}
              </div>
              <div class="prodname" *ngIf="d?.name.length > 2">
                {{ d?.name[0] }},{{ d?.name[1] }}
                <small
                  ><i class="text-muted"
                    >& {{ d?.name.length - 2 }} more items</i
                  ></small
                >
              </div>
              <div class="seller text-muted">
                {{ d?.shopDetails?.shopName }}
              </div>
              <div class="price">
                {{ d?.totalPrice | currency: "INR":"symbol":"0.0" }}
              </div>
            </div>
          </div>
          <div>
            <div class="d-flex align-items-center">
              <div class="dot"></div>
              <div class="status px-2">
                {{ "delivery expected by jun 03" | titlecase }}
              </div>
            </div>
            <div class="description py-2">
              {{ "seller processed your order" | titlecase }}
            </div>
          </div>
        </div>
      </mat-card>
    </a>
  </div>
</div>
