.orders {
  .header {
    h5 {
      margin-bottom: 30px;
    }
    h6 {
      margin-left: 10px !important;
    }
    mat-label {
      font-size: 19px;
    }
  }
  .content {
    cursor: pointer;
    user-select: none;
    .productimage {
      width: 90px;
      height: 70px;
    }
    .product {
      margin-left: 20px;
      .prodname {
        width: 310px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        text-transform: capitalize;
        font-size: 17px;
      }
      .seller {
        font-size: 12px;
        text-transform: capitalize;
      }
    }
    .status {
      font-size: 16px;
    }
    .description {
      font-size: 12px;
      text-transform: capitalize;
      margin-left: 20px;
    }
  }
}
.dot {
  height: 10px;
  width: 10px;
  background-color: #5bc574;
  border-radius: 50%;
  display: inline-block;
}
