<div class="cart-container">
  <div class="container-fluid content d-flex">
    <div class="left-container">
      <div class="left-content">
        <nz-card
          style="width: 100%"
          [nzTitle]="Cardtitle"
          [nzExtra]="extraTemplate"
        >
          <div class="cart-item">
            <nz-list nzItemLayout="horizontal" [nzLoading]="loading">
              <nz-list-item *ngFor="let i of cartItems">
                <nz-list-item-meta
                  [nzAvatar]="productImage"
                  [nzDescription]="descriptions"
                >
                  <nz-list-item-meta-title>
                    <div class="text-muted">Pack of {{ i?.l?.q?.availablein }}</div>
                    <div class="d-flex mt-2 price">
                      <div>
                        {{
                          calculateSellingPrice(i?.l?.q?.discount, i?.l?.q?.productprice) *
                            i?.l?.orderQuantity | currency: "INR":"symbol":"0.0"
                        }}
                      </div>
                      <div class="text-muted px-3 mt-1" style="font-size: 14px">
                        <div *ngIf="i?.l?.q?.discount">
                          <strike>{{
                            i?.l?.q?.productprice | currency: "INR":"symbol":"0.0"
                          }}</strike>
                        </div>
                      </div>
                      <div *ngIf="i?.l?.q?.discount" class="discount mt-1">
                        {{ i?.l?.q?.discount }}% Off
                      </div>
                    </div>
                    <div class="actions d-flex">
                      <div class="mx-2 l">BUY LATER</div>
                      <div
                        (click)="RemoveItemFromCard('remove', i?.l?.id)"
                        class="mx-2 r"
                      >
                        REMOVE
                      </div>
                    </div>
                  </nz-list-item-meta-title>
                </nz-list-item-meta>
                <ng-template #descriptions>
                  <div class="text-capitalize product-title">
                    <a [routerLink]="['/path', routeParam]"
                      >{{ i.productName }}
                    </a>
                  </div>
                </ng-template>

                <ng-template #productImage>
                  <img
                    width="100px"
                    height="100px"
                    src="{{ SERVER_URL }}{{ i?.imageUrl }}"
                    alt=""
                  />
                  <div class="d-flex align-items-center mt-2 w-100">
                    <button
                      [disabled]="i?.OrderQuantity == 1"
                      (click)="UpdateCardQuantity(i?.l?.q?._id, 'sub')"
                      class="cartbtn"
                    >
                      <mat-icon>remove</mat-icon>
                    </button>
                    <div
                      style="
                        width: 44px;
                        display: flex;
                        justify-content: center;
                      "
                    >
                      {{ i?.l?.orderQuantity }}
                    </div>
                    <button
                      [disabled]="i?.l?.orderQuantity >= 10"
                      (click)="UpdateCardQuantity(i?.l?.q?._id, 'add')"
                      class="cartbtn"
                    >
                      <mat-icon>add</mat-icon>
                    </button>
                  </div>
                </ng-template>
              </nz-list-item>
              <div *ngIf="cartItems?.length === 0" class="no-data text-center">
                <h3>No item in cart</h3>
                  <a [routerLink]="['../shop']">
                      EXPLORE ALL SHOP
                  </a>
              </div>
            </nz-list>
            <div *ngIf="cartItems?.length" class="d-flex justify-content-end actionbtn">
              <a [routerLink]="['../checkout']">
                <button class="saveBtn placeorder" mat-flat-button>
                  PLACE ORDER
                </button>
              </a>
            </div>
          </div>
          <ng-template #Cardtitle>
            <div>My Cart ({{ totalItemsInCart }})</div>
          </ng-template>
          <ng-template #extraTemplate> more </ng-template>
        </nz-card>
      </div>
    </div>
    <div class="right-container">
      <div class="right-content">
        <zip-price-card></zip-price-card>
      </div>
    </div>
  </div>
</div>
