.cart-container {
  background-color: #f1f3f6 !important;
  .content {
    margin-top: 20px;
    .left-container {
      width: 70%;
      .left-content {
        top: 80px;
        margin: 25px 10px;
        .cart-item {
          .product-title {
            overflow: hidden;
            font-size: 16px;
            font-family: sans-serif;
            white-space: nowrap;
            width: 90%;
            text-overflow: ellipsis;
            a {
              color: #000 !important;
              &:hover {
                color: #1890ff !important;
              }
            }
          }
          .price {
            font-size: 18px;
          }
          .discount {
            color: green;
            font-size: 14px;
          }
          .actions {
            font-size: 18px;
            margin-top: 25px;
            .l,
            .r {
              cursor: pointer;
              &:hover {
                color: #1890ff !important;
              }
            }
          }
        }
      }
    }
    .right-container {
      width: 30%;
      .right-content {
        width: 90%;
        position: sticky;
        top: 80px;
        margin-top: 25px;
        margin-bottom: 25px;
        margin-left: 16px;
      }
    }
  }
}
.cartbtn {
  border: 0px;
  padding: 1px;
  height: 25px;
  border-radius: 3px;
  &:hover {
    color: #5ac579;
  }
}
::ng-deep .left-content .ant-card-body {
  padding: 0px 24px !important;
}
.placeorder {
  width: 300px;
  height: 50px;
}
.actionbtn {
  position: sticky;
  bottom: 0;
  padding: 10px;
  width: 100%;
  background-color: #fff;
  box-shadow: 0px -6px 3px -3px rgba(0, 0, 0, 0.09);
  -webkit-box-shadow: 0px -6px 3px -3px rgba(0, 0, 0, 0.09);
  -moz-box-shadow: 0px -6px 3px -3px rgba(0, 0, 0, 0.09);
  a {
    button {
      font-size: 20px !important;
    }
  }
}
.no-data{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 271px;
}