<div class="address">
  <mat-card>
    <mat-card-content>
      <div class="d-flex justify-content-end align-items-end">
        <button
          (click)="openForm()"
          class="mb-3 border-black border"
          mat-button
        >
          <mat-icon>gps_fixed</mat-icon> Add New Address
        </button>
      </div>
      <div class="list-view mt-3">
        <ul class="list-group">
          <li
            class="list-group-item py-4"
            *ngFor="let addr of deliveryaddersslist"
          >
            <div class="d-flex justify-content-between">
              <div class="d-flex">
                <h6>{{ addr?.name | titlecase }}</h6>
                <h6 class="mx-3">{{ addr?.mobileNumber }}</h6>
              </div>
              <div class="icon">
                <ng-container>
                  <mat-icon
                    nz-dropdown
                    [nzDropdownMenu]="menu"
                    [nzPlacement]="'bottomRight'"
                    >more_vert</mat-icon
                  >
                  <nz-dropdown-menu #menu="nzDropdownMenu">
                    <ul nz-menu>
                      <li nz-menu-item (click)="onEdit(addr)">Edit</li>
                      <li nz-menu-item (click)="delete(addr?._id)">Delete</li>
                    </ul>
                  </nz-dropdown-menu>
                </ng-container>
              </div>
            </div>
            <div class="desc">
              {{ addr?.address }}, {{ addr?.city }}, {{ addr?.state }} -
              {{ addr?.postalCode }}
            </div>
          </li>
          <!-- <li class="list-group-item">Dapibus ac facilisis in</li>
      <li class="list-group-item">Morbi leo risus</li>
      <li class="list-group-item">Porta ac consectetur ac</li>
      <li class="list-group-item">Vestibulum at eros</li> -->
        </ul>
      </div>
    </mat-card-content>
    <mat-card-actions align="end"> </mat-card-actions>
  </mat-card>
</div>

<ngx-spinner
  bdColor="rgba(0, 0, 0, 0.2)"
  size="medium"
  color="#fff"
  type="line-scale"
  [fullScreen]="true"
  ><p style="color: white; margin-top: 20px">Loading...</p></ngx-spinner
>
