<div class="customAction" *ngIf="className !== 'orderlist'">
  <span
    (click)="onCustomAction('edit', rowData?._id)"
    class="material-icons text-dark px-1"
    >edit</span
  >
  <!-- <span class="material-icons text-dark px-1" title="preview">preview</span> -->
  <span
    (click)="onCustomAction('delete', rowData?._id)"
    class="material-icons text-danger px-1"
    >delete</span
  >
  <ng-container>
    <div
      nz-dropdown
      [nzDropdownMenu]="menu"
      [nzPlacement]="'bottomRight'"
      class="material-icons"
    >
      <span class="material-icons"> more_vert </span>
    </div>
    <nz-dropdown-menu #menu="nzDropdownMenu">
      <ul nz-menu>
        <li nz-menu-item>Add Coupon Code</li>
        <li nz-menu-item>Preview Item</li>
      </ul>
    </nz-dropdown-menu>
  </ng-container>
</div>

<div class="customAction" *ngIf="className === 'orderlist'">
  <button
    (click)="onCustomAction('received-orders', rowData)"
    mat-flat-button
    color="primary"
  >
    Details
  </button>
</div>
