.forgetPassword {
  margin: 20px 30px !important;
  .headerbox {
    img {
      width: 200px;
      height: 70px;
    }
  }
  .content {
    border: 1px solid #5ac579;
    border-radius: 6px;
    margin-top: 20px;
    .message {
      padding: 10px;
      font-size: 16px;
      .email {
        .text1 {
          width: 303px;
          white-space: nowrap;
          text-overflow: ellipsis;
          overflow: hidden;
        }
        button {
          color: #3737f5;
        }
      }
    }
    .btn {
      width: 90%;
      height: 40px;
      background: #52b575;
      color: #fff;
      text-transform: uppercase;
      letter-spacing: 1px;
      font-size: 18px;
    }
  }
}
