<div class="forgetPassword">
  <div class="headerbox d-flex justify-content-between align-items-center">
    <h5 class="text">Recover Your Account</h5>
    <img src="../../../assets/images/zippyfullicon.png" alt="Zippy" />
  </div>
  <hr class="p-0 m-0" />
  <div class="content">
    <div class="message">
      <p class="text-center">
        Don't worry we are here to help you to recover your Account by registerd
        email Id.
      </p>
      <div
        style="margin-top: 95px !important"
        class="d-flex justify-content-center"
      >
        <form
          [formGroup]="formdata"
          class="example-form w-75 mt-3"
          autocomplete="off"
        >
          <div>
            <div *ngIf="!isOTPSend">
              <mat-form-field
                class="example-full-width w-100"
                appearance="outline"
              >
                <mat-label>Enter Registered emai id</mat-label>
                <input formControlName="email" type="email" matInput required />
                <mat-error *ngIf="Forgeterr.email.hasError('required')">
                  This field is required
                </mat-error>
                <mat-error
                  *ngIf="
                    Forgeterr.email.invalid &&
                    !Forgeterr.email.hasError('required')
                  "
                  >Invalid Email Id</mat-error
                >
              </mat-form-field>
            </div>
            <div *ngIf="isOTPSend">
              <div class="email d-flex justify-content-around mb-2">
                <div class="text1 ml-4" [title]="Forgeterr.email.value">
                  {{ Forgeterr.email.value }}
                </div>
                <button (click)="editeMail()" type="button" mat-stroked-button>
                  edit?
                </button>
              </div>
              <mat-form-field
                class="example-full-width w-100"
                appearance="outline"
              >
                <mat-label>One Time Password</mat-label>
                <input formControlName="code" type="text" matInput required />
                <mat-error *ngIf="Forgeterr.code.hasError('required')">
                  This field is required
                </mat-error>
                <mat-error *ngIf="Forgeterr.code.hasError('minlength')"
                  >OTP should be equal then 6 charector</mat-error
                >
                <mat-error *ngIf="Forgeterr.code.hasError('maxlength')"
                  >OTP should be equal then 6 charector</mat-error
                >
              </mat-form-field>
              <mat-form-field
                class="example-full-width w-100"
                appearance="outline"
              >
                <mat-label>New Password</mat-label>
                <input
                  formControlName="password"
                  [type]="isPasswordType ? 'text' : 'password'"
                  matInput
                  required
                />
                <mat-icon
                  style="cursor: pointer"
                  matSuffix
                  *ngIf="!isPasswordType"
                  (click)="isPasswordType = !isPasswordType"
                  >visibility</mat-icon
                >
                <mat-icon
                  style="cursor: pointer"
                  matSuffix
                  *ngIf="isPasswordType"
                  (click)="isPasswordType = !isPasswordType"
                  >visibility_off</mat-icon
                >
                <mat-error *ngIf="Forgeterr.password.hasError('required')">
                  This field is required
                </mat-error>

                <mat-error *ngIf="Forgeterr.password.hasError('minlength')"
                  >Password should be greater then 8 charector</mat-error
                >
              </mat-form-field>
            </div>
            <button
              type="button"
              (click)="sendOTP(Forgeterr.email.value)"
              *ngIf="!isOTPSend"
              class="btn w-100 mt-2"
              mat-raised-button
            >
              <mat-icon class="mx-1" *ngIf="loading"
                ><mat-spinner diameter="25"> </mat-spinner
              ></mat-icon>
              Send OTP
            </button>
            <button
              type="button"
              (click)="onSubmit()"
              *ngIf="isOTPSend"
              class="btn w-100 mt-2"
              mat-raised-button
            >
              <mat-icon class="mx-1" *ngIf="loading"
                ><mat-spinner diameter="25"> </mat-spinner
              ></mat-icon>
              Reset Password
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

<ngx-spinner
  bdColor="rgba(0, 0, 0, 0.2)"
  size="medium"
  color="#fff"
  type="line-scale"
  [fullScreen]="true"
  ><p style="color: white; margin-top: 20px">Loading...</p></ngx-spinner
>

<!-- <div class="confirmbox">
            <div class="email d-flex justify-content-between">
              <mat-label>{{ Forgeterr.email.value }}</mat-label>
              <button type="button" mat-stroked-button>edit?</button>
            </div>
            <mat-form-field class="example-full-width w-100">
              <mat-label>Enter Registered emai id</mat-label>
              <input formControlName="email" type="email" matInput required />
              <mat-error *ngIf="Forgeterr.email.hasError('required')">
                This field is required
              </mat-error>
              <mat-error
                *ngIf="
                  Forgeterr.email.invalid &&
                  !Forgeterr.email.hasError('required')
                "
                >Invalid Email Id</mat-error
              >
            </mat-form-field>
            <mat-form-field class="example-full-width w-100">
              <mat-label>Enter Registered emai id</mat-label>
              <input formControlName="email" type="email" matInput required />
              <mat-error *ngIf="Forgeterr.email.hasError('required')">
                This field is required
              </mat-error>
              <mat-error
                *ngIf="
                  Forgeterr.email.invalid &&
                  !Forgeterr.email.hasError('required')
                "
                >Invalid Email Id</mat-error
              >
            </mat-form-field>
            <mat-form-field class="example-full-width w-100">
              <mat-label>Enter Registered emai id</mat-label>
              <input formControlName="email" type="email" matInput required />
              <mat-error *ngIf="Forgeterr.email.hasError('required')">
                This field is required
              </mat-error>
              <mat-error
                *ngIf="
                  Forgeterr.email.invalid &&
                  !Forgeterr.email.hasError('required')
                "
                >Invalid Email Id</mat-error
              >
            </mat-form-field>
          </div> -->
