<nz-card>
  <div class="storeItem">
    <nz-steps [nzCurrent]="currentStepCount" class="w-100 m-3">
      <nz-step nzTitle="Product Details"></nz-step>
      <nz-step nzTitle="Add Quantity"></nz-step>
      <nz-step nzTitle="Upload Images"></nz-step>
    </nz-steps>
    <nz-card>
      <form
        [formGroup]="storeItem"
        #formDirective="ngForm"
        autocomplete="off"
        enctype="multipart/form-data"
      >
        <div class="content">
          <div class="stepCount0" *ngIf="currentStepCount === 0">
            <div class="row w-100">
              <div class="col-md-1"></div>
              <div class="col-md-5">
                <mat-form-field class="w-100" appearance="outline">
                  <mat-label>Product Name</mat-label>
                  <input
                    type="text"
                    formControlName="productName"
                    matInput
                    required
                  />
                  <mat-error *ngIf="geterr.productName.hasError('required')"
                    >This field is required</mat-error
                  >
                </mat-form-field>
              </div>
              <div class="col-md-5">
                <mat-form-field appearance="outline" class="w-100">
                  <mat-label>Select Category</mat-label>
                  <mat-select
                    name="name"
                    formControlName="categoryName"
                    required
                  >
                    <mat-option
                      *ngFor="let item of category"
                      [value]="item._id"
                      >{{ item.category | titlecase }}</mat-option
                    >
                  </mat-select>
                  <mat-error *ngIf="geterr.categoryName.hasError('required')"
                    >This field is required</mat-error
                  >
                </mat-form-field>
              </div>
              <div class="col-md-1"></div>
            </div>
            <div class="row w-100">
              <div class="col-md-1"></div>
              <div class="col-md-5">
                <mat-form-field class="w-100" appearance="outline">
                  <mat-label>Brand Name</mat-label>
                  <input
                    formControlName="brandName"
                    type="text"
                    matInput
                    required
                  />
                  <mat-error *ngIf="geterr.productName.hasError('required')"
                    >This field is required</mat-error
                  >
                </mat-form-field>
              </div>
              <div class="col-md-5">
                <mat-form-field class="w-100" appearance="outline">
                  <mat-label>Brand Name</mat-label>
                  <input
                    formControlName="brandName"
                    type="text"
                    matInput
                    required
                  />
                  <mat-error *ngIf="geterr.productName.hasError('required')"
                    >This field is required</mat-error
                  >
                </mat-form-field>
              </div>
              <div class="col-md-1"></div>
            </div>

            <!-- <div class="row w-100">
              <div class="col-md-3"></div>
              <div class="col-md-6"></div>
            </div> -->

            <div class="row w-100">
              <div class="col-md-1"></div>
              <div class="col-md-5">
                <mat-form-field appearance="outline" class="w-100">
                  <mat-label>Key Features</mat-label>
                  <textarea
                    rows="4"
                    cols="4"
                    formControlName="keyFeatures"
                    matInput
                  ></textarea>
                </mat-form-field>
              </div>
              <div class="col-md-5">
                <mat-form-field appearance="outline" class="w-100">
                  <mat-label>Ingredients</mat-label>
                  <textarea
                    rows="4"
                    cols="4"
                    formControlName="ingredients"
                    matInput
                  ></textarea>
                </mat-form-field>
              </div>
              <div class="col-md-1"></div>
            </div>
          </div>
          <div class="stepCount1" *ngIf="currentStepCount === 1">
            <div formArrayName="quantity">
              <div *ngFor="let alias of quantity.controls; let i = index">
                <div [formGroupName]="i">
                  <div class="row w-100">
                    <div class="col-md-2"></div>

                    <div class="col-md-4">
                      <mat-form-field class="w-100" appearance="outline">
                        <mat-label>Available In </mat-label>
                        <mat-select formControlName="availablein" required>
                          <mat-option
                            *ngFor="let item of availableIn"
                            [value]="item"
                            >{{ item }}</mat-option
                          >
                        </mat-select>
                        <mat-error
                          *ngIf="
                            getValidity(i)
                              ?.get('availablein')
                              .hasError('required')
                          "
                          >This field is required</mat-error
                        >
                      </mat-form-field>
                    </div>
                    <div class="col-md-4">
                      <mat-form-field appearance="outline" class="w-100">
                        <mat-label>Number of Availabe Quantity</mat-label>
                        <input
                          type="text"
                          matInput
                          formControlName="inStockNumber"
                          required
                          pattern="^[0-9]*$"
                        />

                        <mat-error
                          *ngIf="
                            getValidity(i)
                              ?.get('inStockNumber')
                              .hasError('required')
                          "
                          >This field is required</mat-error
                        >
                        <mat-error
                          *ngIf="
                            getValidity(i)?.get('inStockNumber').errors?.pattern
                          "
                          >Only integers value accepted</mat-error
                        >
                        <mat-error
                          *ngIf="
                            getValidity(i)?.get('inStockNumber').hasError('max')
                          "
                          >Stock should be less then 500</mat-error
                        >
                      </mat-form-field>
                    </div>
                    <div class="col-md-2">
                      <button
                        *ngIf="itemId || !(i == 0)"
                        class="mt-2"
                        type="button"
                        (click)="removeQuntityForm(i)"
                        mat-flat-button
                        color="warn"
                      >
                        Remove
                      </button>
                    </div>
                  </div>
                  <div class="row w-100">
                    <div class="col-md-2">
                      <!-- <mat-form-field appearance="outline" class="w-100">
                        <mat-label>Number of Availabe Quantity</mat-label>
                        <input
                          type="text"
                          matInput
                          formControlName="productid"
                        />
                      </mat-form-field> -->
                    </div>
                    <div class="col-md-4">
                      <mat-form-field class="w-100" appearance="outline">
                        <mat-label>Price Rs.</mat-label>
                        <input
                          type="text"
                          matInput
                          required
                          (input)="calculateDiscount(i)"
                          formControlName="productprice"
                        />
                        <mat-error
                          *ngIf="
                            getValidity(i)
                              ?.get('productprice')
                              .hasError('required')
                          "
                          >This field is required</mat-error
                        >
                        <mat-error
                          *ngIf="
                            getValidity(i)?.get('productprice').hasError('min')
                          "
                          >Price should be greater then 0.</mat-error
                        >
                        <mat-error
                          *ngIf="
                            getValidity(i)?.get('productprice').errors?.pattern
                          "
                          >Only integers value accepted</mat-error
                        >
                      </mat-form-field>
                    </div>
                    <div class="col-md-4">
                      <mat-form-field class="w-100" appearance="outline">
                        <mat-label>Discount (In %)</mat-label>
                        <input
                          type="text"
                          matInput
                          formControlName="discount"
                          (input)="calculateDiscount(i)"
                        />
                        <mat-error
                          *ngIf="
                            getValidity(i)?.get('discount').errors?.pattern
                          "
                          >Only integers value accepted</mat-error
                        >
                        <mat-error
                          *ngIf="
                            getValidity(i)?.get('discount').hasError('max')
                          "
                          >Discount % should be less then 100</mat-error
                        >
                      </mat-form-field>
                    </div>
                    <div class="col-md-2"></div>
                  </div>
                  <div class="row w-100">
                    <div class="col-md-2"></div>
                    <div class="col-md-4">
                      <mat-form-field class="w-100" appearance="outline">
                        <mat-label>Selling Price</mat-label>
                        <input
                          type="text"
                          matInput
                          formControlName="sellingPrice"
                          readonly
                        />
                      </mat-form-field>
                    </div>
                    <div class="col-md-4">
                      <mat-form-field class="w-100" appearance="outline">
                        <mat-label>Discount Price</mat-label>
                        <input
                          type="text"
                          matInput
                          formControlName="discountPrice"
                          readonly
                        />
                      </mat-form-field>
                    </div>
                    <div class="col-md-4"></div>
                    <div class="col-md-2"></div>
                  </div>
                  <hr />
                </div>
              </div>
              <!-- <button type="button" (click)="addQuntity()">Add Alias</button> -->
              <div class="text-center">
                <button
                  type="button"
                  (click)="addQuntity()"
                  class="mb-4"
                  mat-flat-button
                  color="primary"
                >
                  {{ "Add same product with different qunatity" | titlecase }}
                </button>
              </div>
            </div>
          </div>
          <div
            class="stepCount2"
            *ngIf="currentStepCount === 2"
            class="d-flex justify-content-center"
          >
            <div class="w-50 d-flex flex-column">
              <div>
                <nz-upload
                  [(nzFileList)]="fileList"
                  [nzBeforeUpload]="beforeUpload"
                >
                  <button
                    nz-button
                    [disabled]="disabled || fileList.length == 6"
                  >
                    <i nz-icon nzType="upload"></i>Select File
                  </button>
                </nz-upload>
              </div>
              <hr />

              <div class="imagePreview">
                <h5>Select Image from Zippy Gallary</h5>
                <nz-checkbox-wrapper
                  style="width: 100%"
                  (nzOnChange)="onSelectImages($event)"
                >
                  <!-- [nzDisabled]="isSelectableImageList" -->
                  <img
                    *ngFor="let item of zippyImage"
                    nz-checkbox
                    [nzValue]="item"
                    class="img-fluid m-1"
                    style="width: 100px; height: 100px"
                    src="http://localhost:8090{{
                      item !== 'undefined' ? item : null
                    }}"
                    alt=""
                  />
                </nz-checkbox-wrapper>
              </div>
            </div>
          </div>
        </div>
      </form>
      <div class="row mt-3">
        <div class="col w-100 d-flex justify-content-between">
          <button (click)="back()" mat-raised-button>Back</button>
          <button
            *ngIf="currentStepCount === 0"
            class="saveBtn"
            (click)="next(formDirective)"
            mat-raised-button
            [disabled]="checkInputFieldsValid()"
          >
            Next
          </button>
          <button
            *ngIf="currentStepCount === 1"
            class="saveBtn"
            (click)="next(formDirective)"
            mat-raised-button
            [disabled]="isValidFormArray()"
          >
            Next
          </button>
          <button
            *ngIf="currentStepCount === 2"
            class="saveBtn"
            (click)="next(formDirective)"
            [disabled]="fileList.length == 0"
            mat-raised-button
          >
            {{ !itemId ? "Save" : "Update" }}
          </button>
        </div>
      </div>
    </nz-card>
  </div>
</nz-card>
<ngx-spinner
  bdColor="rgba(0, 0, 0, 0.2)"
  size="medium"
  color="#fff"
  type="line-scale"
  [fullScreen]="true"
  ><p style="color: white; margin-top: 20px">Loading...</p></ngx-spinner
>
