textarea {
  resize: none !important;
}
.ant-checkbox-wrapper-checked {
  border: 5px solid #5285b5 !important;
  opacity: 0.4;
}

:host ::ng-deep .ant-upload-list-picture-card .ant-upload-list-item-error {
  border-color: blue !important;
}
:host
  ::ng-deep
  .ant-steps-item-process
  > .ant-steps-item-container
  > .ant-steps-item-icon {
  background: #5ac579 !important;
  border-color: #5ac579 !important;
}
