<div class="password">
  <mat-card>
    <mat-card-header>
      <mat-card-title>
        <h5>Change Password</h5>
      </mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <form autocomplete="off">
        <div>
          <mat-form-field appearance='outline' class="w-50">
            <mat-label>Enter Old Password</mat-label>
            <input type="text" matInput >
          </mat-form-field>
        </div>
        <div>
          <mat-form-field appearance='outline' class="w-50">
            <mat-label>New Password</mat-label>
            <input type="text" matInput >
          </mat-form-field>
        </div>
        <div>
          <mat-form-field appearance='outline' class="w-50">
            <mat-label>Confirm Password</mat-label>
            <input type="text" matInput >
          </mat-form-field>
        </div>
        <mat-card-actions>
          <button mat-button class="saveBtn mx-2">Change Password</button>
        </mat-card-actions>
      </form>
    </mat-card-content>
  </mat-card>
</div>