<div class="order-container mt-3">
  <div class="mx-4">
    <nz-card [nzLoading]="loading">
      <div class="mb-3">
        <div class="row">
          <div class="col-md-2">
            <h5 class="px-2 text-wrapper">Order Status</h5>
          </div>
          <div class="col-md-10">
            <h5 class="px-2 text-wrapper text-capitalize">
              :&nbsp;
              {{
                source?.orderStatus === "ONP"
                  ? "Order not placed"
                  : source?.orderStatus === "done"
                  ? "Order Placed"
                  : ""
              }}
            </h5>
          </div>
        </div>
        <div class="row">
          <div class="col-md-2">
            <h6 class="px-2 text-wrapper">Payment Status</h6>
          </div>
          <div class="col-md-10">
            <h6 class="px-2 text-wrapper text-capitalize">
              :&nbsp; {{ source?.paymentStatus }}
            </h6>
          </div>
        </div>
        <div class="row">
          <div class="col-md-2">
            <mat-label class="px-2 text-wrapper">Customer Name </mat-label>
          </div>
          <div class="col-md-10">
            <mat-label class="px-2 text-wrapper"
              >: &nbsp; {{ source?.customerdetails?.fullname }}</mat-label
            >
          </div>
        </div>
        <div class="row">
          <div class="col-md-2">
            <mat-label class="px-2 text-wrapper">Order Date & Time </mat-label>
          </div>
          <div class="col-md-10">
            <mat-label class="px-2 text-wrapper text-capitalize"
              >:&nbsp;
              {{
                source?.orderDateTime | date: "MMM d, y, h:mm:ss a"
              }}</mat-label
            >
          </div>
        </div>

        <div class="row">
          <div class="col-md-2">
            <mat-label class="px-2 text-wrapper">Delivery Address</mat-label>
          </div>
          <div class="col-md-10">
            <mat-label class="px-2 text-wrapper"
              >:&nbsp; {{ source?.deliveryAddress_desc?.address }},
              {{ source?.deliveryAddress_desc?.city }},
              {{ source?.deliveryAddress_desc?.state }} -
              {{ source?.deliveryAddress_desc?.postalCode }}</mat-label
            >
          </div>
        </div>
      </div>
      <!-- <div class="row justify-content-end">
      <button (click)="next()" mat-button class="saveBtn">Next</button>
    </div> -->
      <div>
        <nz-table
          #basicTable
          [nzData]="source?.orderlist"
          [nzShowPagination]="false"
        >
          <thead>
            <tr>
              <th>Item Name</th>
              <th>Pack of</th>
              <th>Order Quantity</th>
              <th>Price</th>
              <th>Discount</th>
              <th>Selling Price</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let data of source?.orderlist">
              <td>{{ data?.productName }}</td>
              <td>{{ data?.packof }}</td>
              <td>{{ data?.orderQuantity }}</td>
              <td>
                {{ data?.productPrice | currency: "INR":"symbol":"0.0" }}
              </td>
              <td>{{ data?.discount ? data?.discount + " %" : "N/A" }}</td>
              <td>
                {{
                  calculateSellingPrice(data?.discount, data?.productPrice) *
                    data?.orderQuantity | currency: "INR":"symbol":"0.0"
                }}
              </td>
              <!-- <td>
                    {{ source?.orderDateTime | date: "MMM d, y, h:mm:ss a" }}
                  </td> -->
            </tr>
          </tbody>
        </nz-table>
        <!-- <div class="d-flex justify-content-end">
        <button (click)="prev()" mat-stroked-button class="mx-4">back</button>
        <button (click)="next()" mat-button class="saveBtn">Next</button>
      </div> -->
      </div>
    </nz-card>
  </div>
  <!-- <nz-card>
    <mat-card class="mb-3 p-0 m-0">
      <div class="strip-bar" [ngClass]="{ active: currentStepIndex == 0 }">
        <div class="d-flex justify-content-between">
          <div class="d-flex align-items-center">
            <div class="step-number">1</div>
            <div class="heading px-3 text-uppercase">order summery</div>
          </div>
          <button
            *ngIf="currentStepIndex > 0"
            (click)="open(0)"
            mat-stroked-button
          >
            Open
          </button>
        </div>
      </div>
      <mat-card-content class="mat-content" *ngIf="currentStepIndex == 0">
      </mat-card-content>
    </mat-card>
    <mat-card class="mb-3 p-0 m-0">
      <div class="strip-bar" [ngClass]="{ active: currentStepIndex == 1 }">
        <div class="d-flex justify-content-between">
          <div class="d-flex align-items-center">
            <div class="step-number">2</div>
            <div class="heading px-3 text-uppercase">Order item</div>
          </div>
          <button
            *ngIf="currentStepIndex > 1"
            (click)="open(1)"
            mat-stroked-button
          >
            Open
          </button>
        </div>
      </div>
      <mat-card-content class="mat-content" *ngIf="currentStepIndex == 1">
      </mat-card-content>
    </mat-card>
  </nz-card> -->
</div>
