.order-container {
  .strip-bar {
    background-color: #f4f5f7;
    color: #000;
    padding: 10px;
    .step-number {
      //       background-color: #e9ecee;
      background-color: #fff;
      padding: 2px;
      width: 20px;
      height: 20px;
      display: flex;
      justify-content: center;
      align-items: center;
    }
    .heading {
      font-size: 20px;
    }
  }
  .mat-content {
    padding: 15px;
  }
}

.active {
  background-color: #5bc574 !important;
  color: #fff !important;
  .step-number {
    color: #000 !important;
  }
}
.ant-table-cell {
  font-family: sans-serif;
  font-size: 16px;
  text-transform: capitalize;
}
.text-wrapper {
  display: flex;
  justify-content: flex-start;
}
