<p>payment-success works!</p>
<ngx-spinner
  bdColor="rgba(0, 0, 0, 0.2)"
  size="medium"
  color="#fff"
  type="line-scale"
  [fullScreen]="true"
  ><p style="color: white; margin-top: 20px">Loading...</p></ngx-spinner
>
