<div class="profile">
  <form autocomplete="off">
    <mat-card>
      <div class="header">
        <h5>Profile Informations</h5>
        <mat-icon (click)="editUserName()" *ngIf="!isProfileEditable" title="Edit Profile">edit</mat-icon>
        <mat-icon (click)="editUserName()" *ngIf="isProfileEditable">close</mat-icon>
      </div>
      <div class="namebox">
        <mat-form-field class="px-2" appearance="outline">
          <mat-label>First Name</mat-label>
          <input type="text" matInput [disabled]='!isProfileEditable'/>
        </mat-form-field>
        <mat-form-field class="px-2" appearance="outline">
          <mat-label>Last Name</mat-label>
          <input type="text" matInput [disabled]='!isProfileEditable'/>
        </mat-form-field>
        <button type="button" *ngIf="isProfileEditable" mat-stroked-button>Save</button>
      </div>
      <div>
      <div class="px-2 py-2">Your Gender</div>
      <mat-radio-group [disabled]='!isProfileEditable'>
        <mat-radio-button class="px-2" value="m">Male</mat-radio-button>
        <mat-radio-button class="px-2" value="f">Female</mat-radio-button>
        <mat-radio-button class="px-2" value="o">Other</mat-radio-button>
      </mat-radio-group>
      </div>

      <div class="email mt-5">
       <div class="d-flex">
          <h5>Email Address</h5>
          <mat-icon (click)="editUserEmail()" *ngIf="!isEmailEditable" class="mx-4">edit</mat-icon>
           <mat-icon (click)="editUserEmail()" *ngIf="isEmailEditable">close</mat-icon>
       </div>
       <div class="mt-2 d-flex">
         <mat-form-field class="px-2 w-50" appearance="outline">
           <mat-label>Email Address</mat-label>
           <input type="email" matInput  [disabled]='!isEmailEditable'/>
         </mat-form-field>
        <button type="button" *ngIf="isEmailEditable" mat-stroked-button>Save</button>
       </div>
      </div>
      <div class="number mt-5">
       <div class="d-flex">
          <h5>Contact Number</h5>
          <mat-icon (click)="editUserContact()" *ngIf="!isContactEditable" class="mx-4">edit</mat-icon>
          <mat-icon (click)="editUserContact()" *ngIf="isContactEditable" class="mx-4">close</mat-icon>
       </div>
       <div class="mt-2 d-flex">
         <mat-form-field class="px-2 w-50" appearance="outline">
           <mat-label>Contact Number</mat-label>
           <input type="text" matInput  [disabled]='!isContactEditable'/>
         </mat-form-field>
        <button type="button" *ngIf="isContactEditable" mat-stroked-button>Save</button>
       </div>
      </div>
      <mat-card-actions align='end '>
        <button type="button" style="width: 250px !important;" mat-raised-button>Deactivate Account</button>
      </mat-card-actions>
    </mat-card>
  </form>
</div>