.profile{
  .header{
    display: flex;
    mat-icon{
      color: #5ac579;
      padding: 0px 5px;
      margin: 0px 10px;
      cursor: pointer;
    }
  }
  .namebox{
    display: flex;
    // align-items: center !important;
    button{
      height: 50px !important;
      width: 110px !important;
      margin-top: 4px !important;
      font-size: 16px;
      color: #fff;
      margin-left: 10px;
      background-color: #5ac579;
    }
  }
}

::ng-deep.mat-radio-button.mat-accent.mat-radio-checked .mat-radio-outer-circle{
  border-color: #5ac579 !important;
}
::ng-deep .mat-radio-button.mat-accent .mat-radio-inner-circle{
  background-color: #5ac579 !important;
}
mat-icon{
  color: #5ac579;
  padding: 0px 5px;
  margin: 0px 10px;
  cursor: pointer;
}
button{
  height: 50px !important;
  width: 110px !important;
  margin-top: 4px !important;
  font-size: 16px;
  color: #fff;
  margin-left: 10px;
  background-color: #5ac579;
}