<mat-card class="navbar">
  <div class="title d-flex justify-content-between align-items-center">
    <h4>{{ SelectedProduct?.productName | titlecase }}</h4>
    <div class="rating">
      <i nz-icon nzType="star" nzTheme="fill"></i>
      <div class="px-1">4.7</div>
    </div>
  </div>
  <!-- <mat-progress-bar *ngIf="loader" mode="indeterminate"></mat-progress-bar> -->
</mat-card>
<div class="drawer">
  <mat-card
    class="example-card mb-3"
    *ngFor="let item of SelectedProduct?.quantitySet"
  >
    <mat-card-content>
      <div class="d-flex justify-content-between">
        <div mat-card-avatar class="example-header-image d-flex">
          <img
            width="50px"
            height="50px"
            src="{{ SERVER_URL }}{{ SelectedProduct?.imageUrl[0] }}"
            alt=""
          />
          <div>
            <div class="availabel">{{ item?.availablein }}</div>
            <div class="discount">
              {{ item?.discount > 0 ? item?.discount + "% Off" : null }}
            </div>
          </div>
        </div>
        <div>
          <div class="price">
            {{
              calculateDiscount(item?.discount, item?.productprice)
                | currency: "INR":"symbol":"0.0"
            }}
          </div>
          <div class="pprice">
            <strike>{{
              item?.discount > 0
                ? (item?.productprice | currency: "INR":"symbol":"0.0")
                : null
            }}</strike>
          </div>
        </div>
      </div>
    </mat-card-content>
    <mat-card-actions align="end">
      <div
        class="px-2 ofs"
        [ngStyle]="{ color: item?.inStockNumber > 0 ? 'green' : 'red' }"
      >
        {{ item?.inStockNumber > 0 ? "" : "Out of Stock" }}
      </div>
      <button
        *ngIf="!cardItemList?.includes(item?._id)"
        (click)="addNewItemInCart(item?._id)"
        [disabled]="item?.inStockNumber == 0"
        mat-flat-button
        class="saveBtn"
      >
        <mat-icon>add</mat-icon>
      </button>
      <div *ngIf="cardItemList?.includes(item?._id)">
        <button
          class="saveBtn"
          mat-flat-button
          (click)="UpdateCardQuantity(item?._id, 'sub')"
        >
          <mat-icon>remove</mat-icon>
        </button>
        <button disabled mat-stroked-button>
          <span style="color: #5ac579; font-size: 16px">{{
            getQuantity(item?._id)
          }}</span>
        </button>
        <button
          [disabled]="getQuantity(item?._id) > 9"
          class="saveBtn"
          mat-flat-button
          (click)="UpdateCardQuantity(item?._id, 'add')"
        >
          <mat-icon>add</mat-icon>
        </button>
      </div>
    </mat-card-actions>
  </mat-card>
</div>

<ngx-spinner
  bdColor="rgba(0, 0, 0, 0.2)"
  size="medium"
  color="#fff"
  type="line-scale"
  [fullScreen]="true"
  ><p style="color: white; margin-top: 20px">Updating cart</p></ngx-spinner
>
