strike {
  font-size: 14px !important;
  //   color: azure !important;
}
.addButton {
  width: 66px !important;
  padding: 3px 0px !important;
  border: 0.5px solid #000 !important;
  border-radius: 4px !important;
}
// background-color: #e9ecee !important;
::ng-deep .ant-drawer-body {
  background-color: #e9ecee !important;
  margin-top: 0px !important;
  padding: 0px !important;
}
.drawer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 3px 15px;
  margin-top: 54px;
}

.example-card {
  max-width: 400px;
}

.example-header-image {
  // background-image: url("https://material.angular.io/assets/img/examples/shiba1.jpg");
  background-size: cover;
  img {
    border-radius: 50%;
  }
}
.availabel {
  white-space: nowrap !important;
  padding: 0px 10px !important;
  font-size: 16px;
}
.discount {
  white-space: nowrap !important;
  padding: 0px 10px !important;
  font-size: 15px;
}
.price {
  font-size: 16px;
  // color: #5ac579;
}
h4 {
  // color: #5ac579;
}
.pprice {
  color: #afafaa;
  font-style: italic;
}
.ofs {
  white-space: nowrap;
  align-items: center;
  display: flex;
}
.mat-card-actions {
  margin: 0px !important;
  padding: 0px !important;
}
.navbar {
  overflow: hidden;
  padding: 0px 0px 0px 0px;
  position: fixed;
  top: 0;
  width: 450px;
  z-index: 999;
}
.rating {
  color: #5bc574;
  align-items: center;
  font-size: 20px;
  display: flex;
  margin-bottom: 10px;
}
.title {
  padding: 12px 12px 0px 12px;
}
