.product-title {
  padding: 3px 10px;
  text-transform: capitalize;
  //   margin-top: 10px;
  font-size: 17px;
}
.discount {
  color: #52b575;
}
.actions {
  margin-top: 10px;
  display: flex;
  justify-content: space-between;
}
.outofstock {
  color: red !important;
}
.example-action-buttons {
  padding-bottom: 20px;
}

.example-headers-align .mat-expansion-panel-header-title,
.example-headers-align .mat-expansion-panel-header-description {
  flex-basis: 0;
}

.example-headers-align .mat-expansion-panel-header-description {
  justify-content: space-between;
  align-items: center;
}

.example-headers-align .mat-form-field + .mat-form-field {
  margin-left: 8px;
}

.quant-card {
  margin-left: 35px;
}
.item-list {
  display: flex;
  justify-content: flex-start;
  // flex-direction: column;
  padding-left: 10px;
  align-items: center !important;
}
.item-title {
  color: #52b575 !important;
  font-size: 17px;
}
input[type="checkbox"] {
  height: 0;
  width: 0;
  visibility: hidden;
}

label {
  cursor: pointer;
  text-indent: -9999px;
  width: 45px;
  height: 23px;
  background: red;
  display: block;
  border-radius: 100px;
  position: relative;
}

label:after {
  content: "";
  position: absolute;
  top: 2px;
  left: 2px;
  width: 20px;
  height: 19px;
  background: #fff;
  border-radius: 90px;
  transition: 0.3s;
}

input:checked + label {
  background: #52b575;
}

input:checked + label:after {
  left: calc(100% - 2px);
  transform: translateX(-100%);
}

// centering
body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.text-green {
  color: #52b575 !important;
}
