<div class="product-view mt-4 px-3">
  <nz-card [nzTitle]="Products" [nzLoading]="loader" [nzExtra]="extraTemplate">
    <mat-accordion class="example-headers-align" multi>
      <mat-expansion-panel *ngFor="let p of productList">
        <mat-expansion-panel-header>
          <mat-panel-title>
            <div class="d-flex align-items-center">
              <div class="product-title">{{ p?.productName }}</div>
            </div>
          </mat-panel-title>
          <mat-panel-description>
            <div class="d-flex">
              Available In :
              <div class="px-1" *ngFor="let i of p?.quantitySet">
                {{ i?.availablein }}
              </div>
            </div>
            <div class="d-flex">
              <input
                disabled
                type="checkbox"
                id="switch"
                [checked]="p?.status === 'active' ? true : false"
              />
              <label
                [title]="p?.status === 'active' ? 'Active' : 'Out of Market'"
                for="switch"
                >Toggle</label
              >
            </div>
          </mat-panel-description>
        </mat-expansion-panel-header>
        <div>
          <div
            *ngFor="let ele of p?.tempArray"
            class="d-flex justify-content-center"
          >
            <div *ngFor="let i of ele" class="mx-3">
              <nz-card
                style="width: 300px; margin-top: 16px"
                [nzActions]="[actionEdit, actionDelete, actionMore]"
              >
                <nz-skeleton
                  [nzActive]="true"
                  [nzLoading]="loading"
                  [nzAvatar]="{ size: 'large' }"
                >
                  <nz-card-meta
                    [nzAvatar]="avatarTemplate"
                    [nzTitle]="i?.availablein"
                    [nzDescription]="description"
                  ></nz-card-meta>
                </nz-skeleton>
              </nz-card>
              <ng-template #avatarTemplate>
                <img
                  width="60px"
                  height="60px"
                  style="border-radius: 50%; border: 1px solid #dfdfdf"
                  src="{{ SERVER_URL }}{{ p?.imageUrl[0] }}"
                  alt=""
                />
              </ng-template>
              <ng-template #actionDelete>
                <mat-icon title="Edit">edit</mat-icon>
              </ng-template>
              <ng-template #actionEdit>
                <mat-icon title="Delete">delete</mat-icon>
              </ng-template>
              <ng-template #actionMore>
                <mat-icon nz-dropdown [nzDropdownMenu]="menu" title="More"
                  >more_horiz</mat-icon
                >
                <nz-dropdown-menu #menu="nzDropdownMenu">
                  <ul nz-menu>
                    <li nz-menu-item>View</li>
                    <li nz-menu-item>Add Offer</li>
                  </ul>
                </nz-dropdown-menu>
              </ng-template>
              <ng-template #description>
                <div style="height: 80px; color: #000">
                  <div *ngIf="i?.discount" class="d-flex align-baseline">
                    <h5>
                      {{
                        calculateDiscount(i?.discount, i?.productprice)
                          | currency: "INR":"symbol":"0.0"
                      }}
                    </h5>
                    <strike class="mx-1"
                      ><i>{{
                        i?.productprice | currency: "INR":"symbol":"0.0"
                      }}</i></strike
                    >
                  </div>
                  <div *ngIf="!i?.discount">
                    <h5>
                      {{ i?.productprice | currency: "INR":"symbol":"0.0" }}
                    </h5>
                  </div>
                  <div class="discount">
                    {{ i?.discount ? "Discount " + i?.discount + "%" : null }}
                  </div>
                  <div>
                    {{
                      i?.inStockNumber
                        ? " Available stock " + i?.inStockNumber
                        : null
                    }}
                  </div>
                  <div class="outofstock">
                    {{ i?.inStockNumber === 0 ? "Out of stock" : null }}
                  </div>
                </div>
              </ng-template>
            </div>
          </div>
          <div class="actions">
            <div class="d-flex align-items-center">
              <div>
                <button
                  (click)="onStatusChange('start', p?._id, p?.status)"
                  *ngIf="p?.status !== 'active'"
                  class="mx-2 text-green"
                  mat-stroked-button
                >
                  <div class="d-flex align-items-center">
                    <mat-spinner
                      *ngIf="loadergreen"
                      [diameter]="20"
                      class="text-green mx-1"
                    ></mat-spinner>
                    <span>Start Selling</span>
                  </div>
                </button>
                <button
                  (click)="onStatusChange('stop', p?._id, p?.status)"
                  *ngIf="p?.status === 'active'"
                  class="mx-2"
                  color="warn"
                  mat-stroked-button
                >
                  <div class="d-flex align-items-center">
                    <mat-spinner
                      *ngIf="loaderwarn"
                      [diameter]="20"
                      color="warn"
                      class="mx-1"
                    ></mat-spinner
                    ><span> Stop Selling </span>
                  </div>
                </button>
              </div>
            </div>
            <div>
              <button
                [routerLink]="['../edit', p?._id]"
                class="mx-2"
                mat-stroked-button
              >
                <mat-icon>edit</mat-icon>
              </button>
              <button
                (click)="onDeleteProduct(p?._id)"
                class="mx-2"
                mat-stroked-button
              >
                <mat-icon>delete</mat-icon>
              </button>
              <button
                nz-dropdown
                [nzDropdownMenu]="menuitem"
                title="More"
                class="mx-2"
                mat-icon-button
              >
                <mat-icon class="mx-2">more_vert</mat-icon>
              </button>
              <nz-dropdown-menu #menuitem="nzDropdownMenu">
                <ul nz-menu>
                  <li nz-menu-item>View</li>
                  <li nz-menu-item>Add Offer</li>
                </ul>
              </nz-dropdown-menu>
            </div>
          </div>
        </div>
      </mat-expansion-panel>
    </mat-accordion>
  </nz-card>
  <ng-template #extraTemplate>
    <div class="d-flex align-items-center">
      <div class="item-title">{{ "Total items " + productList?.length }}</div>
      <mat-icon
        (click)="openFilter()"
        class="mx-3"
        style="font-size: 30px; cursor: pointer"
        >filter_list</mat-icon
      >
      <a [routerLink]="['../addproduct']"
        ><button
          nzType="primary"
          nz-button
          class="d-flex align-items-center px-2"
        >
          <mat-icon class="material-icons-sharp"> add </mat-icon
          ><span class="px-1">Add Product</span>
        </button></a
      >
    </div>
  </ng-template>
  <ng-template #Products>
    <h4>Products</h4>
  </ng-template>
</div>
