<div class="cart-container">
  <div class="container-fluid content d-flex">
    <div class="left-container">
      <div class="left-content">
        <mat-card
          class="mb-3"
          [ngClass]="{ 'selected-row': selectIndex === 0 }"
        >
          <div class="items">
            <div
              class="row-item d-flex"
              [ngClass]="{ 'selected-row': selectIndex === 0 }"
            >
              <div class="order">1</div>
              <div class="item-content">
                <div class="d-flex">
                  <div class="heading">login</div>
                  <div class="px-2" *ngIf="selectIndex > 0">
                    <mat-icon>check_circle</mat-icon>
                  </div>
                </div>
                <div *ngIf="selectIndex !== 0 && isUserLoggedIn">
                  <span style="font-weight: 500">{{ user?.fullname }}</span>
                  <span class="px-2">{{ user?.email }}</span>
                </div>
              </div>
              <button
                [disabled]="disable"
                (click)="onChangeClick(0)"
                class="change-btn"
                *ngIf="selectIndex > 0 && isUserLoggedIn"
              >
                Change
              </button>
            </div>
          </div>
          <mat-containt *ngIf="selectIndex == 0">
            <div class="div-container">
              <div *ngIf="isUserLoggedIn">
                <div>
                  <div class="px-2">
                    Email :
                    <span class="mx-2 fw-bold">{{ user?.email }}</span>
                  </div>
                  <div class="px-2">
                    Name :
                    <span class="mx-2 fw-bold">{{ user?.fullname }}</span>
                  </div>
                  <div class="px-2">
                    Phone :
                    <span class="mx-2 fw-bold num-class">{{
                      user?.mobileNumber
                    }}</span>
                  </div>
                </div>
                <div class="logout">
                  <a
                    nz-popconfirm
                    nzPopconfirmTitle="Confirm logout?"
                    (nzOnConfirm)="logout()"
                    [nzOkText]="'Logout'"
                    [nzOkType]="danger"
                  >
                    Logout & Sign in to another account.</a
                  >
                </div>
                <button
                  [disabled]="disable"
                  class="m-2 saveBtn next-btn"
                  (click)="onNextClick()"
                  mat-flat-button
                >
                  continue checkout
                </button>
              </div>
              <div *ngIf="!isUserLoggedIn">
                <div>
                  <button
                    [disabled]="disable"
                    mat-flat-button
                    class="loginbtn"
                    (click)="openDrawer(true)"
                  >
                    login
                  </button>
                  <button
                    [disabled]="disable"
                    mat-flat-button
                    class="loginbtn signupbtn"
                    (click)="openDrawer(false)"
                  >
                    <span>New User?</span><span> Sign up</span>
                  </button>
                </div>
              </div>
            </div>
          </mat-containt>
        </mat-card>
        <mat-card
          class="mb-3"
          [ngClass]="{ 'selected-row': selectIndex === 1 }"
        >
          <div class="items">
            <div
              class="row-item d-flex"
              [ngClass]="{ 'selected-row': selectIndex === 1 }"
            >
              <div class="order">2</div>
              <div class="item-content">
                <div class="d-flex">
                  <div class="heading">delivery Address</div>
                  <div class="px-2" *ngIf="selectIndex > 1">
                    <mat-icon>check_circle</mat-icon>
                  </div>
                </div>
                <div *ngIf="selectIndex > 1 && isUserLoggedIn">
                  <div class="num-class">
                    <div style="font-weight: 600">
                      {{ selectedAddress?.name | titlecase }},
                      {{ selectedAddress?.mobileNumber }}
                    </div>
                    <div>
                      <span
                        >{{ selectedAddress?.address | titlecase }},
                        {{ selectedAddress?.city | titlecase }},
                        {{ selectedAddress?.state | titlecase }} -
                        {{ selectedAddress?.postalCode }}</span
                      >
                    </div>
                    <button
                      [disabled]="disable"
                      *ngIf="deliverHere(i?._id)"
                      class="mt-2 saveBtn next-btn"
                      (click)="onNextClick()"
                      mat-flat-button
                    >
                      deliver here
                    </button>
                  </div>
                </div>
              </div>
              <button
                [disabled]="disable"
                (click)="onChangeClick(1)"
                class="change-btn"
                *ngIf="selectIndex > 1"
              >
                Change
              </button>
              <button
                [disabled]="disable"
                (click)="changeAdderss()"
                class="border border-black"
                mat-button
                *ngIf="selectIndex == 1"
              >
                Add New Address
              </button>
            </div>
          </div>
          <mat-containt *ngIf="selectIndex == 1 && isUserLoggedIn">
            <div class="div-container">
              <div *ngIf="!deliveryaddersslist?.length">
                <div
                  class="
                    d-flex
                    justify-content-center
                    align-items-center
                    flex-column
                  "
                >
                  <mat-label>No Delivery Address found</mat-label>
                  <small
                    >Add delivery address by clicking 'Add New Address'
                    Button</small
                  >
                </div>
              </div>
              <nz-radio-group
                *ngIf="deliveryaddersslist?.length"
                (ngModelChange)="deliverHere()"
                class="w-100"
                [formControl]="selectDeliveryAddress"
              >
                <ul nz-list [nzBordered]="false" nzSize="large">
                  <li
                    class="px-0"
                    nz-list-item
                    nzNoFlex
                    *ngFor="let i of deliveryaddersslist"
                  >
                    <label
                      class="d-flex align-items-center mr-2"
                      nz-radio
                      [nzValue]="i"
                    >
                      <div class="mx-3">
                        <div class="fw-bold num-class">
                          {{ i?.name | titlecase }}, {{ i?.mobileNumber }}
                        </div>
                        <div>
                          <span
                            >{{ i?.address | titlecase }},
                            {{ i?.city | titlecase }},
                            {{ i?.state | titlecase }} -
                            {{ i?.postalCode }}</span
                          >
                        </div>
                        <button
                          [disabled]="disable"
                          *ngIf="selectedAddress?._id === i?._id"
                          class="mt-2 saveBtn next-btn"
                          (click)="onNextClick()"
                          mat-flat-button
                        >
                          deliver here
                        </button>
                      </div>
                    </label>
                  </li>
                </ul>
              </nz-radio-group>
            </div>
          </mat-containt>
        </mat-card>
        <mat-card
          class="mb-3"
          [ngClass]="{ 'selected-row': selectIndex === 2 }"
        >
          <div class="items">
            <div
              class="row-item d-flex"
              [ngClass]="{ 'selected-row': selectIndex === 2 }"
            >
              <div class="order">3</div>
              <div class="item-content">
                <div class="d-flex">
                  <div class="heading">order summary</div>
                  <div class="px-2" *ngIf="selectIndex > 2">
                    <mat-icon>check_circle</mat-icon>
                  </div>
                </div>
                <div *ngIf="selectIndex !== 2 && isUserLoggedIn">
                  {{
                    totalItemInCart > 1 ? totalItemInCart + " Items" : "1 item"
                  }}
                </div>
              </div>
              <button
                [disabled]="disable"
                (click)="onChangeClick(2)"
                class="change-btn"
                *ngIf="selectIndex > 2"
              >
                Change
              </button>
            </div>
          </div>
          <mat-containt *ngIf="selectIndex == 2">
            <div class="div-container">
              <nz-list [nzBordered]="false">
                <nz-list-item *ngFor="let i of cartItem">
                  <div class="d-flex">
                    <div>
                      <img
                        width="60px"
                        height="60px"
                        src="{{ SERVER_URL }}{{ i?.imageUrl[0] }}"
                        alt=""
                      />
                    </div>
                    <div class="mx-3">
                      <h6>{{ i?.productName }}</h6>
                      <small class="text-muted"
                        >Quantity: {{ i?.l?.orderQuantity }}, Pack of:
                        {{ i?.l?.q?.availablein }}</small
                      >
                      <div class="mt-2">
                        {{
                          calculateSellingPrice(
                            i?.l?.q?.discount,
                            i?.l?.q?.productprice
                          ) * i?.l?.orderQuantity
                            | currency: "INR":"symbol":"0.0"
                        }}
                      </div>
                    </div>
                  </div>
                </nz-list-item>
              </nz-list>
              <div class="d-flex justify-content-end">
                <button
                  [disabled]="disable"
                  class="m-2 saveBtn next-btn"
                  (click)="onNextClick()"
                  mat-flat-button
                >
                  continue
                </button>
              </div>
            </div>
          </mat-containt>
        </mat-card>
        <mat-card
          class="mb-3"
          [ngClass]="{ 'selected-row': selectIndex === 3 }"
        >
          <div class="items">
            <div
              class="row-item d-flex"
              [ngClass]="{ 'selected-row': selectIndex === 3 }"
            >
              <div class="order">4</div>
              <div class="item-content">
                <div class="d-flex">
                  <div class="heading">payment options</div>
                  <div class="px-2" *ngIf="selectIndex > 3">
                    <mat-icon>check_circle</mat-icon>
                  </div>
                </div>
                <!-- <div *ngIf="selectIndex !== 3 && isUserLoggedIn">
                  this is content
                </div> -->
              </div>
              <button
                [disabled]="disable"
                (click)="onChangeClick(3)"
                class="change-btn"
                *ngIf="selectIndex > 3"
              >
                Change
              </button>
            </div>
          </div>
          <mat-containt *ngIf="selectIndex == 3 && isUserLoggedIn">
            <div class="div-container">
              <nz-radio-group
                (ngModelChange)="selectPaymentMethod($event)"
                class="w-100"
                [formControl]="selectedPayment"
              >
                <ul nz-list [nzBordered]="false" nzSize="large">
                  <li
                    class="px-0"
                    nz-list-item
                    nzNoFlex
                    *ngFor="let i of paymentMethodListd"
                  >
                    <label
                      class="d-flex align-items-center mr-2"
                      nz-radio
                      [nzValue]="i"
                    >
                      <div class="mx-3">
                        <div class="fw-bold num-class">
                          {{ i?.name }}
                        </div>
                        <div></div>
                        <button
                          [disabled]="disable"
                          *ngIf="selectedPayM?.id === i?.id"
                          class="mt-2 saveBtn next-btn"
                          mat-flat-button
                          (click)="initPayment()"
                        >
                          Pay
                        </button>
                      </div>
                    </label>
                  </li>
                </ul>
              </nz-radio-group>
            </div>
          </mat-containt>
        </mat-card>
      </div>
    </div>
    <div class="right-container">
      <div class="right-content">
        <zip-price-card></zip-price-card>
      </div>
    </div>
  </div>
</div>

<ngx-spinner
  bdColor="rgba(0, 0, 0, 0.2)"
  size="medium"
  color="#fff"
  type="line-scale"
  [fullScreen]="true"
  ><p style="color: white; margin-top: 20px">Loading...</p></ngx-spinner
>
