.cart-container {
  font-family: sans-serif;
  background-color: #f1f3f6 !important;
  user-select: none !important;
  .content {
    margin-top: 20px;
    .left-container {
      width: 70%;
      .left-content {
        top: 80px;
        margin: 25px 10px;
        margin: 25px 10px;
        padding: 10px;
        .items {
          background-color: #fff;
          // padding: 0px 10px;
          .row-item {
            .order {
              display: flex;
              align-items: center;
              justify-content: center;
              background-color: #f1f3f6;
              padding: 7px;
              height: 25px;
              border-radius: 2px;
              color: #000;
              font-weight: 500;
            }
            .item-content {
              width: 80%;
              margin-left: 20px;
              mat-icon {
                color: #5bc574 !important;
              }
              .heading {
                color: #878787;
                font-size: 16px;
                font-weight: 500;
                text-transform: uppercase;
              }
            }
            .change-btn {
              padding: 0 32px;
              height: 40px;
              border-radius: 2px;
              border: 1px solid #e0e0e0;
              // color: #5bc574;
              font-size: 14px;
              font-weight: 500;
              background: #fff;
              margin-left: auto;
              cursor: pointer;
              text-transform: uppercase;
            }
          }
        }
        .div-container {
          margin-left: 42px;
          font-size: 17px;
          line-height: 26px;
          margin-top: 10px;
          font-family: sans-serif;
          .logout {
            margin-left: 10px;
            margin-top: 10px;
            color: red;
            cursor: pointer;
            width: fit-content;
          }
        }
      }
    }
    .right-container {
      width: 30%;
      .right-content {
        width: 90%;
        position: sticky;
        top: 80px;
        margin-top: 35px;
        margin-bottom: 25px;
        margin-left: 16px;
      }
    }
  }
}

::ng-deep .left-content .ant-card-body {
  padding: 0px 24px !important;
}

.selected-row {
  // background-color: #5bc574;
  // padding: 0px 10px;
  .row-item {
    .order {
      // display: flex;
      // align-items: center;
      // justify-content: center;
      background-color: #5bc574 !important;
      // padding: 7px;
      // margin-top: 10px;
      // height: 27px;
      // border-radius: 2px;
      color: #fff !important;
      // font-weight: 500;
    }
    .item-content {
      .heading {
        color: #5bc574 !important;
      }
    }
  }
}
.next-btn {
  font-size: 17px;
  width: 250px;
  height: 40px;
  text-transform: uppercase;
  border-radius: 0px;
}
.loginbtn {
  padding: 5px 15px;
  margin: 10px;
  width: 200px;
  border: 1px solid #5bc574;
  border-radius: 0px;
  // height: 0px;
  font-size: 16px;
  text-transform: uppercase;
}
.signupbtn {
  color: #fff;
  border: 0px;
  background-color: #5bc574;
}
