.ant-menu-dark.ant-menu-inline {
  margin-top: 20px !important;
}

::ng-deep .ant-menu:not(.ant-menu-horizontal) .ant-menu-item-selected {
  background-color: #fff !important;
  border: 0px;
  // color: #fff !important;
  // &:hover {
  //   color: #fff !important;
  // }
}
::ng-deep .ant-menu-inline .ant-menu-item::after {
  border: 2px solid #52b575 !important;
}
.ant-menu-inline .ant-menu-item {
  font-size: 16px !important;
}
.ant-menu-item .anticon {
  font-size: 19px !important;
}
::ng-deep .ant-layout-sider-children {
  margin-top: 50px !important;
}
.ant-menu-inline .ant-menu-item:not(:last-child) {
  margin: 0px !important;
}
.sidebar {
  height: 100vh !important;
}
.ant-menu:not(.ant-menu-horizontal) .ant-menu-item-selected:focus {
  //   outline: 0px solid #fff !important;
  outline: -webkit-focus-ring-color auto 0px !important;
}
.ant-menu-inline {
  border-right: 0px !important;
}
