<nz-layout style="background-color: #fff !important">
  <nz-sider nzTheme="light" nzCollapsible nzWidth="170px" class="sidebar">
    <ul nz-menu nzTheme="light" nzMode="inline">
      <li [routerLink]="['./..']" nz-menu-item>
        <!-- <a [routerLink]="['./..']"> -->
        <i title="Dashboard" nz-icon nzType="dashboard"></i>
        <span>Dashboard </span>
        <!-- </a> -->
      </li>
      <li [routerLink]="['/zippy/admin/dashboard/addcategory']" nz-menu-item>
        <i
          title="Products"
          nz-icon
          nzType="unordered-list"
          nzTheme="outline"
        ></i>
        <span title="Category">Category</span>
      </li>
      <li nz-menu-item>
        <i nz-icon nzType="file"></i>
        <span>File</span>
      </li>
      <!-- <li nz-submenu nzTitle="Team" nzIcon="team">
        <ul>
          <li nz-menu-item>Team 1</li>
          <li nz-menu-item>Team 2</li>
        </ul>
      </li> -->
    </ul>
  </nz-sider>

  <nz-layout>
    <nz-content>
      <!-- <nz-card > -->
      <router-outlet></router-outlet>
      <!-- </nz-card> -->
    </nz-content>
  </nz-layout>
</nz-layout>
