<div class="tabContainer">
  <nz-card>
    <nz-tabset [nzTabPosition]="position">
      <nz-tab [nzTitle]="'Category'">
        <div class="category">
          <h5>Categories</h5>
          <hr />
          <div>
            <ng2-smart-table
              [settings]="settings"
              [source]="data"
              (deleteConfirm)="onRowDelete($event)"
              (editConfirm)="onUpdate($event)"
            ></ng2-smart-table>
          </div>
        </div>
      </nz-tab>
      <nz-tab [nzTitle]="'Add Category'">
        <div class="addcategory">
          <h5>Add Category</h5>
          <hr />
          <form
            #formDirective="ngForm"
            [formGroup]="categoryForm"
            autocomplete="off"
          >
            <div
              formArrayName="category"
              class="d-flex justify-content-center w-100 flex-column"
            >
              <div
                *ngFor="let cat of category.controls; let i = index"
                class="d-flex justify-content-center w-100"
              >
                <mat-form-field appearance="outline" class="w-50">
                  <mat-label>Category Name #{{ i + 1 }}</mat-label>
                  <input type="text" matInput [formControlName]="i" />
                </mat-form-field>
                <mat-icon
                  (click)="removeFields(i)"
                  class="py-2 px-4"
                  color="warn"
                  style="font-size: 37px; cursor: pointer"
                  >delete</mat-icon
                >
              </div>

              <div class="action py-3 d-flex justify-content-around">
                <button
                  mat-raised-button
                  color="primary"
                  [ngStyle]="{
                    'font-size': category.length === 0 ? '18px' : '30px'
                  }"
                  (click)="addMoreFields()"
                >
                  <span>{{ category.length == 0 ? "Add Category" : "+" }}</span>
                </button>
                <button
                  *ngIf="category.length != 0"
                  class="saveBtn"
                  (click)="onSubmit(formDirective)"
                  mat-raised-button
                >
                  Save
                </button>
              </div>
            </div>
          </form>
        </div>
      </nz-tab>
    </nz-tabset>
  </nz-card>
</div>
<ngx-spinner
  bdColor="rgba(0, 0, 0, 0.5)"
  size="medium"
  color="#fff"
  type="line-scale"
  [fullScreen]="true"
  ><p style="color: white; margin-top: 20px">Loading...</p></ngx-spinner
>
