.tabContainer {
  padding: 20px;
  //   background-color: rgb(82, 78, 72);
}
::ng-deep .ng2-smart-action-delete-delete {
  color: red !important;
}

::ng-deep table-cell-view-mode div {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  text-transform: capitalize;
}
