@textFont: "Open Sans", sans-serif;
@headingFont: "Roboto Slab", serif;

.footer {
  background-color: #1d4354;
  padding: 30px 0px;
  .container {
    h3 {
      font-family: @headingFont;
      color: #fff;
      font-size: 30px;
      span {
        color: rgb(84, 233, 84);
      }
    }
    p {
      color: #fff;
      font-family: @textFont;
      font-size: 16px;
      text-transform: capitalize;
      letter-spacing: 1px;
    }
    h4 {
      font-family: @headingFont;
      color: #fff;
      font-size: 25px;
      padding-left: 30px;
    }
    ul {
      list-style: none;
      li {
        // border-bottom: 1px dotted gray;
        padding: 5px 0px;
        a {
          text-decoration: none;
          color: #fff;
          font-family: @textFont;
          font-size: 17px;
        }
      }
    }
    .address {
      h4 {
        font-family: @headingFont;
        color: #fff;
        font-size: 25px;
        padding-left: 30px;
      }
      li {
        color: #fff;
        border: none !important;
        font-family: @textFont;
        font-size: 15px;
      }
    }
    .social {
      display: flex;
      justify-content: space-between;
      align-items: center;
      flex-direction: row;
      flex-wrap: wrap;
      border-top: 1px solid gray;
      border-bottom: 1px solid gray;
      padding: 10px 0px;
      .social-icon {
        p {
          margin: 0px;
          padding-right: 20px;
          display: inline-block;
          font-family: @textFont;
        }
        i {
          color: #fff;
          padding-right: 10px;
        }
      }
      .mobileapp {
        p {
          margin: 0px;
          padding-right: 20px;
          display: inline-block;
          font-family: @textFont;
        }
        i {
          color: #fff;
          padding-right: 10px;
        }
      }
    }
    h5 {
      padding: 30px 0px;
      font-family: @textFont;
      color: #fff;
      text-align: center;
      font-size: 14px;
    }
  }
}
