.filters {
  .f-heading {
    color: #52b575;
    .contents {
      margin-top: 40px !important;
      .selectItems {
      }
    }
  }
}

::ng-deep
  .filters
  .ant-select:not(.ant-select-customize-input)
  .ant-select-selector {
  width: 156px !important;
  margin-top: 20px !important;
}
::ng-deep .filters .anticon {
  margin-top: 9px !important;
}
