<div class="filters">
  <h4 class="text-center f-heading">Filters</h4>
  <div class="contents" *ngIf="toDisplayContent === 'tableFilters'">
    <div class="d-flex mt-2 selectItems justify-content-around">
      <nz-select [nzPlaceHolder]="'Select category'">
        <nz-option nzValue="all" nzLabel="All"></nz-option>
        <nz-option
          [nzValue]="item?._id"
          [nzLabel]="item?.category"
          *ngFor="let item of categoryList"
        ></nz-option>
        >
      </nz-select>
      <nz-select [nzPlaceHolder]="'Select Stock'">
        <nz-option nzValue="all" nzLabel="All"></nz-option>
        <nz-option nzValue="1" nzLabel="In Stock"></nz-option>
        <nz-option nzValue="0" nzLabel="Out Stock"></nz-option>
      </nz-select>
    </div>
    <div class="d-flex mt-2 selectItems justify-content-around">
      <nz-select [nzPlaceHolder]="'Available In'">
        <nz-option nzValue="all" nzLabel="All"></nz-option>
        <nz-option
          [nzValue]="item"
          [nzLabel]="item"
          *ngFor="let item of availableIn"
        ></nz-option>
        >
      </nz-select>
      <nz-select
        [nzPlaceHolder]="'Discount In(%)'"
        [formContro]="customDiscountValue"
      >
        <nz-option><input matInput /></nz-option>
        <nz-option
          [nzValue]="item"
          [nzLabel]="item"
          *ngFor="let item of discount"
        ></nz-option>
        >
      </nz-select>
    </div>
  </div>
</div>
