<div class="sellerMenu">
  <ul class="mt-4" nz-menu nzMode="inline" *ngIf="userRole == 'admin'">
    <li class="d-flex align-items-center" nzSelected nz-menu-item>
      <mat-icon>home</mat-icon>
      <span class="px-1">Home </span>
    </li>
    <a [routerLink]="['./..']"
      ><li class="d-flex align-items-center" nz-menu-item>
        <mat-icon>space_dashboard</mat-icon>
        <span class="px-1">Dashboard </span>
      </li></a
    >
    <a [routerLink]="['/zippy/admin/addcategory']"
      ><li class="d-flex align-items-center" nz-menu-item>
        <mat-icon class="material-icons-sharp"> category </mat-icon
        ><span class="px-1">Category</span>
      </li></a
    >
    <!-- <li nz-submenu nzTitle="Add" >
      <ul>
        <a [routerLink]="['addcategory']"><li nz-menu-item>Add Category</li></a>
        <li nz-menu-item>Option 2</li>
        <li nz-menu-item>Option 3</li>
        <li nz-menu-item>Option 4</li>
      </ul>
    </li>
    <li nz-submenu nzTitle="Navigation One">
      <ul>
        <li nz-menu-item>Option 1</li>
        <li nz-menu-item>Option 2</li>
        <li nz-menu-item>Option 3</li>
        <li nz-menu-item>Option 4</li>
      </ul>
    </li>
    <li nz-submenu nzTitle="Navigation One">
      <ul>
        <li nz-menu-item>Option 1</li>
        <li nz-menu-item>Option 2</li>
        <li nz-menu-item>Option 3</li>
        <li nz-menu-item>Option 4</li>
      </ul>
    </li>
    <li nz-submenu nzTitle="Navigation One">
      <ul>
        <li nz-menu-item>Option 1</li>
        <li nz-menu-item>Option 2</li>
        <li nz-menu-item>Option 3</li>
        <li nz-menu-item>Option 4</li>
      </ul>
    </li>
    <li nz-submenu nzTitle="Navigation One">
      <ul>
        <li nz-menu-item>Option 1</li>
        <li nz-menu-item>Option 2</li>
        <li nz-menu-item>Option 3</li>
        <li nz-menu-item>Option 4</li>
      </ul>
    </li>
    <li nz-submenu nzTitle="Navigation One">
      <ul>
        <li nz-menu-item>Option 1</li>
        <li nz-menu-item>Option 2</li>
        <li nz-menu-item>Option 3</li>
        <li nz-menu-item>Option 4</li>
      </ul>
    </li>
    <li nz-submenu nzTitle="Navigation Two">
      <ul>
        <li nz-menu-item>Option 1</li>
        <li nz-menu-item>Option 2</li>
        <li nz-menu-item>Option 3</li>
        <li nz-menu-item>Option 4</li>
      </ul>
    </li>
    <li nz-submenu nzTitle="Navigation Three">
      <ul>
        <li nz-menu-item>Option 9</li>
        <li nz-menu-item>Option 10</li>
        <li nz-menu-item>Option 11</li>
      </ul>
    </li> -->
  </ul>

  <!-- for seller -->
  <ul class="mt-4" nz-menu nzMode="inline" *ngIf="userRole == 'seller'">
    <li class="d-flex align-items-center" nzSelected nz-menu-item>
      <mat-icon>home</mat-icon>
      <span class="px-1">Home </span>
    </li>
    <a (click)="closeDrawer()" [routerLink]="['/zippy/seller/dashboard']"
      ><li class="d-flex align-items-center" nz-menu-item>
        <mat-icon>space_dashboard</mat-icon>
        <span class="px-1">Dashboard </span>
      </li></a
    >
    <!-- <a [routerLink]="['addproduct']"
      ><li class="d-flex align-items-center" nz-menu-item>
        <mat-icon class="material-icons-sharp"> add </mat-icon
        ><span class="px-1">Add Product</span>
      </li></a
    > -->
    <a (click)="closeDrawer()" [routerLink]="['/zippy/seller/products']"
      ><li class="d-flex align-items-center" nz-menu-item>
        <mat-icon class="material-icons-sharp"> inventory_2 </mat-icon
        ><span class="px-1">Products</span>
      </li></a
    >
  </ul>
</div>
