::ng-deep .ant-menu {
  // height: 100vh;
  background-color: #fff !important;
  color: #000 !important;
  &:hover {
    color: #000 !important;
  }
}
// :host ::ng-deep .ant-menu:not(.ant-menu-horizontal) .ant-menu-item-selected {
//   background-color: #fff !important;
//   color: #52b575 !important;
//   &:hover {
//     color: #52b575 !important;
//   }
// }
::ng-deep .ant-menu-inline .ant-menu-item::after {
  border: 2px solid #52b575 !important;
}
a {
  text-decoration: none !important;
  color: #000 !important;
  &:hover {
    color: #52b575 !important;
  }
}
.ant-menu-item:hover {
  color: #52b575 !important;
}
.sellerMenu {
  margin-top: 75px !important;
}
