<div class="tableContainer p-0 m-0">
  <nz-card style="height: 100vh !important">
    <nz-card>
      <div class="d-flex justify-content-between">
        <h5 class="p-1 m-0">{{ getTableTitle() }}</h5>
        <div class="d-flex">
          <div *ngIf="isEnableFilterIcon()">
            <mat-icon
              (click)="openFilter()"
              class="mx-3"
              style="font-size: 30px; cursor: pointer"
              >filter_list</mat-icon
            >
          </div>

          <a *ngIf="isEnableAddIcon()" [routerLink]="['../addproduct']"
            ><button
              nzType="primary"
              nz-button
              class="d-flex align-items-center px-2"
            >
              <mat-icon class="material-icons-sharp"> add </mat-icon
              ><span class="px-1">Add Product</span>
            </button></a
          >
        </div>
      </div>
      <!-- <hr /> -->
      <ng2-smart-table
        [settings]="tableSetting"
        [source]="tableData"
        (custom)="onCustomAction($event)"
      ></ng2-smart-table>
    </nz-card>
  </nz-card>

  <!-- (userRowSelect)="onRowSelect($event)" -->
  <!-- <button (click)="openFilter()" id="myBtn" title="filter">
    <mat-icon>filter_alt</mat-icon>
  </button> -->
</div>

<!-- <ng2-smart-table
  [settings]="settings"
  [source]="data"
  (custom)="onCustom($event)"
></ng2-smart-table> -->

<ngx-spinner
  bdColor="rgba(0, 0, 0, 0.2)"
  size="medium"
  color="#fff"
  type="line-scale"
  [fullScreen]="true"
  ><p style="color: white; margin-top: 20px">Loading...</p></ngx-spinner
>
