::ng-deep table tr td {
  font-family: sans-serif !important;
}
::ng-deep thead {
  border-bottom: 1px solid #2b2a2a !important;
}
:host ::ng-deep .ng-star-inserted {
  text-transform: capitalize !important;
}

:host ::ng-deep .ng-star-inserted .TextRed {
  color: red !important;
}
:host ::ng-deep .ng-star-inserted .Textgreen {
  color: green !important;
}

#myBtn {
  display: block; /* Hidden by default */
  position: fixed; /* Fixed/sticky position */
  bottom: 20px; /* Place the button at the bottom of the page */
  right: 30px; /* Place the button 30px from the right */
  z-index: 99; /* Make sure it does not overlap */
  border: none; /* Remove borders */
  outline: none; /* Remove outline */
  background-color: #fff; /* Set a background color */
  color: #01533b; /* Text color */
  cursor: pointer; /* Add a mouse pointer on hover */
  padding: 13px 13px 6px 13px; /* Some padding */
  border-radius: 10px; /* Rounded corners */
  background-color: #ebefe5;
  //   font-size: 18px; /* Increase font size */
}

#myBtn:hover {
  background-color: #01533b; /* Add a dark-grey background on hover */
  color: #fff;
}

.ng-star-inserted {
  white-space: nowrap !important;
  overflow: hidden !important;
  text-overflow: ellipsis !important;
}

::ng-deep .dot {
  height: 12px;
  width: 12px;
  border-radius: 50%;
  background-color: #bbb;
  display: inline-block;
}
::ng-deep .ONP {
  background-color: red !important;
}
::ng-deep .done {
  background-color: green !important;
}
