<!-- <div class="sidenav">

</div>
<div class="main"></div> -->
<!-- <nz-layout> -->
<!-- <nz-sider
    (nzCollapsedChange)="toggle($event)"
    nzTheme="light"
    nzCollapsed="false"
    nzCollapsible
    nzWidth="200px"
    class="sidenav"
  >
    <ul nz-menu nzTheme="light" nzMode="inline">
      <li class="liclass" [routerLink]="['./..']" nz-menu-item>
        <i title="Dashboard" nz-icon nzType="dashboard"></i>
        <span class="mt4">Dashboard </span>
      </li>
      <li class="liclass" [routerLink]="['products']" nz-menu-item>
        <i
          title="Products"
          nz-icon
          nzType="unordered-list"
          nzTheme="outline"
        ></i>
        <span class="mt4">Products</span>
      </li>
      <li class="liclass" [routerLink]="['class/received-orders']" nz-menu-item>
        <i nz-icon nzType="database" nzTheme="outline"></i>
        <span class="mt4">Orders</span>
      </li>
      <li nz-submenu nzTitle="Team" nzIcon="team">
        <ul>
          <li nz-menu-item>Team 1</li>
          <li nz-menu-item>Team 2</li>
        </ul>
      </li>
    </ul>
  </nz-sider> -->

<div class="sidebar">
  <nav class="main-menu">
    <ul>
      <li [routerLink]="['./..']">
        <a>
          <mat-icon class="fa">dashboard</mat-icon>
          <span class="nav-text"> Dashboard </span>
        </a>
      </li>
      <li [routerLink]="['products']" class="has-subnav">
        <a>
          <mat-icon class="fa">inventory_2</mat-icon>
          <span class="nav-text">Products</span>
        </a>
      </li>
      <li class="has-subnav">
        <a [routerLink]="['class/orderlist']">
          <mat-icon class="fa">list_alt</mat-icon>
          <span class="nav-text">Orders </span>
        </a>
      </li>
    </ul>

    <ul class="logout">
      <li>
        <a>
          <mat-icon class="fa">logout</mat-icon>
          <span class="nav-text"> Logout </span>
        </a>
      </li>
    </ul>
  </nav>
</div>
<div class="area">
  <router-outlet></router-outlet>
  <!-- <nz-layout> -->
  <!-- <nz-content id="main" class="main"> -->
  <!-- <nz-card > -->
  <!-- </nz-card> -->
  <!-- </nz-content>
  </nz-layout> -->
</div>
<!-- </nz-layout> -->
