.card-content {
  .item {
    font-size: 16px;
    display: flex;
    justify-content: space-between;
  }
  .discount {
    color: green;
  }
}
// .priceCard {
//   position: fixed;
//   width: 28%;
// }
