<nz-card nzTitle="BILLING DETAILS" class="priceCard">
  <div class="card-content">
    <div class="item">
      <p>Price ({{ totalCartItem }})</p>
      <p>{{ totalPrice | currency: "INR":"symbol":"0.0" }}</p>
    </div>
    <div class="item">
      <p>Discount</p>
      <p class="discount">
        - {{ totalDiscount | currency: "INR":"symbol":"0.0" }}
      </p>
    </div>
    <div class="item">
      <p>Selling Price ({{ totalCartItem }})</p>
      <p>
        {{
          totalSellingPrice | currency: "INR":"symbol":"0.0"
        }}
      </p>
    </div>
    <div class="item">
      <p>Delivery Charges</p>
      <p>{{ deliveryCharge | currency: "INR":"symbol":"0.0" }}</p>
    </div>
    <mat-divider></mat-divider>
    <div class="item py-3">
      <h6>Total Amount</h6>
      <h6>
        {{
          totalSellingPrice + calculateDeliveryCharge()
            | currency: "INR":"symbol":"0.0"
        }}
      </h6>
    </div>
  </div>
</nz-card>
