.header {
  margin: 10px 6px;
  .filter {
    //     border-bottom: 1px solid #000;
    //     padding: 4px 5px;
    .radio-btn {
      label {
        font-size: 16px !important;
        border: none !important;
        padding-bottom: 40px;
      }
      .ant-radio-button-wrapper:not(:first-child)::before {
        position: absolute;
        top: -1px;
        left: -1px;
        display: block;
        box-sizing: content-box;
        width: 1px;
        height: 100%;
        padding: 1px 0;
        background-color: #fff !important;
        transition: background-color 0.3s;
        content: "";
      }
    }
  }
  .ant-divider-horizontal {
    margin: 0px 10px 24px 10px !important;
  }
}

::ng-deep .ant-radio-button-wrapper-checked,
.ant-radio-button-wrapper-checked:hover {
  color: #5ac579 !important;
}
::ng-deep .ant-radio-button-wrapper > .ant-radio-button {
  border-bottom: 2px solid #5ac579 !important;
}
::ng-deep .ant-radio-button-wrapper:hover {
  color: #5ac579 !important;
}
::ng-deep ng2-smart-table-title span {
  font-size: 16px !important;
  font-weight: 400;
}
::ng-deep .ng2-smart-row.selected {
  background-color: #fff !important;
}
