<nz-card>
  <div class="orderlist">
    <div class="header">
      <h4>Orders Details</h4>
      <div class="filter mt-4 ml-3 d-flex">
        <mat-icon>filter_list</mat-icon>
        <nz-radio-group class="radio-btn" [(ngModel)]="radioValue">
          <label nz-radio-button nzValue="-1">All Orders</label>
          <label nz-radio-button nzValue="A">Completed</label>
          <label nz-radio-button nzValue="B">Continuing</label>
          <label nz-radio-button nzValue="C">Restitute</label>
          <label nz-radio-button nzValue="D">Canceled</label>
        </nz-radio-group>
      </div>
      <nz-divider></nz-divider>
    </div>
    <ng2-smart-table
      [settings]="settings"
      [source]="dataSource"
    ></ng2-smart-table>
  </div>
</nz-card>
