<div class="container">
  <div class="authContainer">
    <div (click)="closeDrawer()" class="close">
      <i nz-icon nzType="close" nzTheme="outline"></i>
    </div>
    <div class="authCommon d-flex justify-content-between">
      <div class="authMode align-self-center">
        <h6>{{ isloginFormOpen ? "login" : "Sign Up" }}</h6>
        <div class="d-flex or">
          or &nbsp;
          <div (click)="changeForm()" style="color: #52b575; cursor: pointer">
            {{
              isloginFormOpen ? "create an account" : "login to your account"
            }}
          </div>
        </div>
        <div class="underline">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</div>
      </div>
      <div class="image">
        <img
          style="width: 200px; height: 70px"
          class="img-fluid"
          src="./../../../assets/images/zippyfullicon.png"
          alt=""
        />
      </div>
    </div>
    <div class="loginContainer" *ngIf="isloginFormOpen">
      <form
        [formGroup]="loginForm"
        (submit)="onLogin()"
        class="example-form"
        autocomplete="off"
      >
        <div class="form-field">
          <mat-form-field class="example-full-width">
            <mat-label>Email</mat-label>
            <input
              type="email"
              formControlName="email"
              name="email"
              matInput
              required
            />
            <mat-error *ngIf="loginerr.email.hasError('required')">
              This field is required
            </mat-error>
            <mat-error
              *ngIf="
                loginerr.email.invalid && !loginerr.email.hasError('required')
              "
              >Invalid Email Id</mat-error
            >
          </mat-form-field>
          <mat-form-field class="example-full-width">
            <mat-label>Password</mat-label>
            <input
              [type]="isPasswordType ? 'text' : 'password'"
              formControlName="password"
              name="password"
              matInput
              required
            />
            <mat-error *ngIf="loginerr.password.hasError('required')"
              >This field is required</mat-error
            >
            <mat-icon
              matSuffix
              style="cursor: pointer"
              *ngIf="!isPasswordType"
              (click)="isPasswordType = !isPasswordType"
              >visibility</mat-icon
            >
            <mat-icon
              matSuffix
              style="cursor: pointer"
              *ngIf="isPasswordType"
              (click)="isPasswordType = !isPasswordType"
              >visibility_off</mat-icon
            >
          </mat-form-field>
          <div class="actionBtn">
            <button class="btn" mat-raised-button>
              <mat-icon class="mx-1" *ngIf="loading"
                ><mat-spinner diameter="25"> </mat-spinner
              ></mat-icon>
              Login
            </button>
          </div>
        </div>
      </form>
      <div
        class="moreaction d-flex justify-content-between"
        style="margin-top: 30px"
      >
        <button mat-stroked-button (click)="ForgotPassword()">
          Forget Pasword?
        </button>
      </div>
    </div>
    <div class="signupContainer" *ngIf="!isloginFormOpen">
      <form
        [formGroup]="signupForm"
        #formDirective="ngForm"
        (submit)="onSubmit(formDirective)"
        class="example-form"
        autocomplete="off"
      >
        <div class="form-field">
          <mat-form-field class="example-full-width">
            <mat-label>Email</mat-label>
            <input formControlName="email" type="email" matInput required />
            <mat-error *ngIf="Signuperr.email.hasError('required')">
              This field is required
            </mat-error>
            <mat-error
              *ngIf="
                Signuperr.email.invalid && !Signuperr.email.hasError('required')
              "
              >Invalid Email Id</mat-error
            >
          </mat-form-field>
          <mat-form-field class="example-full-width">
            <mat-label>User Name</mat-label>
            <input
              type="text"
              formControlName="username"
              name="username"
              matInput
              required
            />
            <mat-error *ngIf="Signuperr.username.hasError('required')"
              >This field is required</mat-error
            >
          </mat-form-field>
          <mat-form-field class="example-full-width">
            <mat-label>Password</mat-label>
            <input
              [type]="isPasswordType ? 'text' : 'password'"
              formControlName="password"
              name="password"
              matInput
              required
            />
            <mat-icon
              style="cursor: pointer"
              matSuffix
              *ngIf="!isPasswordType"
              (click)="isPasswordType = !isPasswordType"
              >visibility</mat-icon
            >
            <mat-icon
              style="cursor: pointer"
              matSuffix
              *ngIf="isPasswordType"
              (click)="isPasswordType = !isPasswordType"
              >visibility_off</mat-icon
            >
            <mat-error *ngIf="Signuperr.password.hasError('required')"
              >This field is required</mat-error
            >
            <mat-error *ngIf="Signuperr.password.hasError('minlength')"
              >Password should be greater then 8 charector</mat-error
            >
          </mat-form-field>
          <mat-form-field class="example-full-width" *ngIf="haveRfCode">
            <mat-label>Enter Referral code</mat-label>
            <input
              type="text"
              formControlName="referralCode"
              name="referralCode"
              matInput
            />
          </mat-form-field>
          <div
            *ngIf="!haveRfCode"
            (click)="haveReferralCode()"
            class="refrralCode text-primary"
            style="cursor: pointer"
          >
            Have a referral code?
          </div>
          <div class="actionBtn">
            <button class="btn" mat-raised-button>
              <mat-icon class="mx-1" *ngIf="loading"
                ><mat-spinner diameter="25"> </mat-spinner
              ></mat-icon>
              Sign Up
            </button>
          </div>
          <small
            >By creating an account, I accept the
            <span class="text-primary">Terms</span> &
            <span class="text-primary">Conditions</span></small
          >
        </div>
      </form>
    </div>
    <div class="actionBtn">
      <button
        class="mt-5 googlebtn loginBtn loginBtn--google"
        style="width: 90%"
        mat-raised-button
        id="googleBtn"
      >
        Continue with Google
      </button>
      <button
        class="mt-1 googlebtn loginBtn loginBtn--facebook"
        style="width: 90%"
        mat-raised-button
        id="googleBtn"
      >
        <div
          class="fb-login-button"
          data-width=""
          data-size="large"
          data-button-type="continue_with"
          data-layout="default"
          data-auto-logout-link="false"
          data-use-continue-as="false"
        ></div>
        Continue with facebook
      </button>
    </div>
  </div>
</div>
<ngx-spinner
  bdColor="rgba(0, 0, 0, 0.2)"
  size="medium"
  color="#fff"
  type="line-scale"
  [fullScreen]="true"
  ><p style="color: white; margin-top: 20px">Loading...</p></ngx-spinner
>
