.container {
  background-color: #fff;
  width: 100%;
  height: 100vh;
  padding: 10px 30px;
  .authContainer {
    padding: 0px 15px;
    .close {
      font-size: 24px;
      font-weight: normal;
      cursor: pointer;
    }
    .authCommon {
      margin-top: 15px;
      .authMode {
        h6 {
          font-weight: 900;
          text-transform: capitalize;
          font-size: 23px;
          letter-spacing: 1px;
        }
      }
    }
    .underline {
      content: "";
      text-decoration: underline;
      font-weight: bolder;
    }
    .loginContainer,
    .signupContainer {
      margin-top: 50px;
      .form-field {
        .example-full-width {
          width: 90%;
          margin: 7px 0px;
        }
        .actionBtn {
          margin-top: 20px;
          .btn {
            width: 90%;
            height: 40px;
            background: #52b575;
            color: #fff;
            text-transform: uppercase;
            letter-spacing: 1px;
            font-size: 18px;
          }

          .googlebtn {
            margin-top: 10px;
            width: 90%;
            height: 40px;
            font-size: 18px;
            // border: 1px solid #000;
          }
        }
      }
    }
  }
  ::ng-deep .mat-progress-spinner circle,
  .mat-spinner circle {
    stroke: #fff;
  }
  ::ng-deep .moreaction .mat-progress-spinner circle,
  .mat-spinner circle {
    stroke: blue;
  }
}

/* Shared */
.loginBtn {
  box-sizing: border-box;
  position: relative;
  /* width: 13em;  - apply for fixed size */
  margin: 0.2em;
  padding: 0 15px 0 46px;
  border: none;
  text-align: left;
  line-height: 34px;
  white-space: nowrap;
  border-radius: 0.2em;
  font-size: 16px;
  color: #fff;
}
.loginBtn:before {
  content: "";
  box-sizing: border-box;
  position: absolute;
  top: 0;
  left: 0;
  width: 34px;
  height: 100%;
}
.loginBtn:focus {
  outline: none;
}
.loginBtn:active {
  box-shadow: inset 0 0 0 32px rgba(0, 0, 0, 0.1);
}

/* Facebook */
.loginBtn--facebook {
  background-color: #4c69ba;
  background-image: linear-gradient(#4c69ba, #3b55a0);
  /*font-family: "Helvetica neue", Helvetica Neue, Helvetica, Arial, sans-serif;*/
  text-shadow: 0 -1px 0 #354c8c;
}
.loginBtn--facebook:before {
  border-right: #364e92 1px solid;
  background: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/14082/icon_facebook.png")
    6px 6px no-repeat;
}
.loginBtn--facebook:hover,
.loginBtn--facebook:focus {
  background-color: #5b7bd5;
  background-image: linear-gradient(#5b7bd5, #4864b1);
}

/* Google */
.loginBtn--google {
  /*font-family: "Roboto", Roboto, arial, sans-serif;*/
  background: #dd4b39;
}
.loginBtn--google:before {
  border-right: #bb3f30 1px solid;
  background: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/14082/icon_google.png")
    6px 6px no-repeat;
}
.loginBtn--google:hover,
.loginBtn--google:focus {
  background: #e74b37;
}
