<div class="container">
  <div class="box">
    <h5 class="title">
      {{ !isEdit ? "Add a new address" : "Update Address" }}
    </h5>
    <form [formGroup]="form" (ngSubmit)="OnSubmit()" autocomplete="off">
      <div>
        <mat-form-field class="mx-2 inputwidth" appearance="outline">
          <mat-label>Full Name</mat-label>
          <input type="text" formControlName="name" matInput required />
          <mat-error *ngIf="err.name.hasError('required')"
            >This field is required</mat-error
          >
        </mat-form-field>
        <mat-form-field class="mx-2 inputwidth" appearance="outline">
          <mat-label>Contact Number</mat-label>
          <input type="text" matInput formControlName="mobileNumber" required />
          <mat-error *ngIf="err.name.hasError('required')"
            >This field is required</mat-error
          >
        </mat-form-field>
      </div>
      <div>
        <mat-form-field
          appearance="outline"
          style="width: 82%; margin-left: 10px"
        >
          <mat-label>Address (Area and Street)</mat-label>
          <textarea
            matInput
            formControlName="address"
            name=""
            id=""
            rows="5"
            required
          ></textarea>
          <mat-error *ngIf="err.name.hasError('required')"
            >This field is required</mat-error
          >
        </mat-form-field>
      </div>
      <div>
        <mat-form-field class="mx-2 inputwidth" appearance="outline">
          <mat-label>Pin Code</mat-label>
          <input
            (change)="getPostalCodeDetails()"
            type="text"
            matInput
            formControlName="postalCode"
            required
          />
          <mat-error *ngIf="err.name.hasError('required')"
            >This field is required</mat-error
          >
          <mat-error *ngIf="err?.postalCode?.errors?.pattern"
            >Invalid Pin code</mat-error
          >
        </mat-form-field>
        <mat-form-field class="mx-2 inputwidth" appearance="outline">
          <mat-label>Select State</mat-label>
          <input type="text" matInput formControlName="state" required />
          <!-- <mat-select formControlName="state">
            <mat-option>ss</mat-option>
            <mat-option>ss</mat-option>
            <mat-option>ss</mat-option>
            <mat-option>ss</mat-option>
          </mat-select> -->
          <mat-error *ngIf="err.name.hasError('required')"
            >This field is required</mat-error
          >
        </mat-form-field>
      </div>
      <div>
        <mat-form-field class="mx-2 inputwidth" appearance="outline">
          <mat-label>City/District/Town</mat-label>
          <input type="text" matInput formControlName="city" required />
          <mat-error *ngIf="err.name.hasError('required')"
            >This field is required</mat-error
          >
        </mat-form-field>
        <mat-form-field class="mx-2 inputwidth" appearance="outline">
          <mat-label>Locality</mat-label>
          <input type="text" matInput formControlName="locality" />
        </mat-form-field>
      </div>
      <div>
        <mat-form-field class="mx-2 inputwidth" appearance="outline">
          <mat-label>Landmark (Optional)</mat-label>
          <input type="text" matInput formControlName="landmark" />
        </mat-form-field>
        <mat-form-field class="mx-2 inputwidth" appearance="outline">
          <mat-label>Alternate Phone (Optional)</mat-label>
          <input type="text" matInput formControlName="alternateNumber" />
        </mat-form-field>
      </div>
      <div class="actions">
        <button type="submit" mat-button class="btns w-25 mx-2">
          {{ !isEdit ? "Save" : "Update" }}
        </button>
        <button
          type="button"
          (click)="OnCancel()"
          type="button"
          mat-button
          class="w-25 mx-2 border border-black bg-white"
        >
          Cancel
        </button>
      </div>
    </form>
  </div>
</div>

<ngx-spinner
  bdColor="rgba(0, 0, 0, 0.2)"
  size="medium"
  color="#fff"
  type="line-scale"
  [fullScreen]="true"
  ><p style="color: white; margin-top: 20px">Loading...</p></ngx-spinner
>
