.container {
  font-family: sans-serif !important;
  .box {
    border: 1px solid rgba(0, 0, 0, 0.192);
    padding: 16px 12px;
    background-color: #e5ebef28;
    border-radius: 4px;
    .title {
      margin-left: 10px;
      color: #52b575;
    }
    .inputwidth {
      width: 40%;
      font-family: sans-serif !important;
    }
  }
}

.btns {
  background-color: #52b575;
  color: #fff;
}
