// 86A29A 01533B

#myBtn {
  display: block; /* Hidden by default */
  position: fixed; /* Fixed/sticky position */
  bottom: 20px; /* Place the button at the bottom of the page */
  right: 30px; /* Place the button 30px from the right */
  z-index: 99; /* Make sure it does not overlap */
  border: none; /* Remove borders */
  outline: none; /* Remove outline */
  background-color: #fff; /* Set a background color */
  color: #01533b; /* Text color */
  cursor: pointer; /* Add a mouse pointer on hover */
  padding: 13px 13px 6px 13px; /* Some padding */
  border-radius: 10px; /* Rounded corners */
  background-color: #ebefe5;
  //   font-size: 18px; /* Increase font size */
}

#myBtn:hover {
  background-color: #01533b; /* Add a dark-grey background on hover */
  color: #fff;
}

.home-container {
  .row {
    .leftSide {
      // height: 100%;
      background-color: #ebefe5;
      .contentContainer {
        margin-top: 60px;
        .brandName {
          text-transform: uppercase;
          font-weight: 900;
          color: #01533b;
          font-size: 30px;
          letter-spacing: 3px;
          font-family: "Roboto";
          padding: 7px 12px;
        }
        .actionBtn {
          margin-right: 50px;

          .loginBtn {
            color: #000;
            font-family: Arial, Helvetica, sans-serif;
            font-size: 16px;
            font-weight: 700;
            padding: 10px 38px;
            &:hover {
              color: #01533b;
            }
          }
          .signupBtn {
            background-color: #000;
            color: #fff;
            font-size: 16px;
            font-weight: 700;
            padding: 10px 38px;
          }
        }
      }
      .tagContainer {
        margin: 80px 30px 0px 30px;
        h2 {
          margin: 0px 0px 4px 0px !important;
          font-size: 34px;
        }
      }
    }
    .rightCover {
      // height: 100%;
      background-repeat: no-repeat;
      right: 0;
    }
  }
  .serviceDetails {
    background: #2b1e16;
    .card {
      background: #2b1e16;
      color: #fff;
    }
  }
}
//
.row > * {
  padding-left: 0px !important;
  padding-right: 0px !important;
}
.form-control:focus {
  box-shadow: 0 0 0 0 rgb(0 0 0);
}
.btn-outline-secondary:focus {
  box-shadow: 0 0 0 0 rgb(0 0 0);
}
.btn-outline-secondary:hover {
  background-color: #fff;
  color: #000;
}
.btn:focus {
  box-shadow: 0 0 0 0 rgb(0 0 0);
}

.wordCarousel {
  font-size: 40px;
  font-weight: 600;
  letter-spacing: -0.45px;
  div {
    overflow: hidden;
    position: relative;
    height: 65px;
    padding-top: 10px;
    margin-top: -10px;
    li {
      font-family: Serif;
      font-weight: 700;
      height: 45px;
      margin-bottom: 50px;
      display: block;
      padding-left: 0px;
      margin-left: 0px;
    }
  }
}

.flip2 {
  animation: flip2 6s ease-in infinite;
}
.flip3 {
  animation: flip3 8s ease-in infinite;
}
.flip4 {
  animation: flip4 10s ease-in infinite;
}
.flip5 {
  animation: flip5 12s ease-in infinite;
}
.flip6 {
  animation: flip6 14s ease-in infinite;
}

@keyframes flip2 {
  0% {
    margin-top: -180px;
  }
  5% {
    margin-top: -90px;
  }
  50% {
    margin-top: -90px;
  }
  55% {
    margin-top: 0px;
  }
  99.99% {
    margin-top: 0px;
  }
  100% {
    margin-top: -270px;
  }
}

@keyframes flip3 {
  0% {
    margin-top: -270px;
  }
  5% {
    margin-top: -180px;
  }
  33% {
    margin-top: -180px;
  }
  38% {
    margin-top: -90px;
  }
  66% {
    margin-top: -90px;
  }
  71% {
    margin-top: 0px;
  }
  99.99% {
    margin-top: 0px;
  }
  100% {
    margin-top: -270px;
  }
}

@keyframes flip4 {
  0% {
    margin-top: -360px;
  }
  5% {
    margin-top: -270px;
  }
  25% {
    margin-top: -270px;
  }
  30% {
    margin-top: -180px;
  }
  50% {
    margin-top: -180px;
  }
  55% {
    margin-top: -90px;
  }
  75% {
    margin-top: -90px;
  }
  80% {
    margin-top: 0px;
  }
  99.99% {
    margin-top: 0px;
  }
  100% {
    margin-top: -270px;
  }
}
@keyframes flip5 {
  0% {
    margin-top: -360px;
  }
  5% {
    margin-top: -270px;
  }
  25% {
    margin-top: -270px;
  }
  30% {
    margin-top: -180px;
  }
  50% {
    margin-top: -180px;
  }
  55% {
    margin-top: -90px;
  }
  75% {
    margin-top: -90px;
  }
  80% {
    margin-top: 0px;
  }
  99.99% {
    margin-top: 0px;
  }
  100% {
    margin-top: -270px;
  }
}
@keyframes flip6 {
  0% {
    margin-top: -360px;
  }
  5% {
    margin-top: -270px;
  }
  25% {
    margin-top: -270px;
  }
  30% {
    margin-top: -180px;
  }
  50% {
    margin-top: -180px;
  }
  55% {
    margin-top: -90px;
  }
  75% {
    margin-top: -90px;
  }
  80% {
    margin-top: 0px;
  }
  99.99% {
    margin-top: 0px;
  }
  100% {
    margin-top: -270px;
  }
}

// .tag {
//   // transition-duration: 1s;
//   // transition: ease-in all;
//   font-size: 40px;
//   font-weight: 600;
//   letter-spacing: -0.45px;
//   // transform: translateY(0px);
//   animation-duration: 0.5s;
//   // animation-timing-function: ease;
//   // animation-delay: 5s;
//   // animation-iteration-count: infinite;
//   animation-direction: normal;
//   animation-fill-mode: none;
//   animation-play-state: running;
//   animation-name: example;
//   // text-transform: ;
//   // position: relative;
//   // animation-name: example;
//   // animation-duration: 5s;
//   // animation-iteration-count: infinite;
// }

// @keyframes example {
//   from {
//     transform: translateY(20px);
//     opacity: 0;
//   }
//   to {
//     transform: translateY(0px);
//   }
// }

// @keyframes example {
//   75% {
//     left: 0px;
//     top: 200px;
//     // z-index: -1;
//   }
//   100% {
//     left: 0px;
//     top: 0px;
//   }
// }
