<!-- <div class="home-container">
  <div class="row w-100 m-0 p-0">
    <div class="col-md-7 leftSide">
      <div class="contentContainer d-flex justify-content-center px-4">
        <div class="d-flex">
          <img
            style="width: auto; height: 65px"
            src="../../assets/images/logo.png"
            alt="Zippy"
          />
          <div class="brandName align-self-center">Zippy</div>
        </div>
        <div class="d-flex actionBtn">
          <a (click)="openDrawer(true)" class="loginBtn px-3 align-self-center"
            >Login</a
          >
          <a (click)="openDrawer(false)" class="loginBtn px-3 align-self-center"
            >Sign up</a
          >
          <a
            class="signupBtn px-3 align-self-center"
            [routerLink]="['../addSellerAccount']"
            >More</a
          >
        </div>
      </div>
      <div class="tagContainer">
        <h2 class="wordCarousel">
          <div>
            <ul style="padding: 0px" class="flip6">
              <li *ngFor="let item of headingTag">{{ item }}?</li>
            </ul>
          </div>
        </h2>
        <h3 class="text-secondary" style="font-size: 24px">
          Order food from favourite restaurants near you.
        </h3>
      </div>

      <div class="locationInput d-flex justify-content-start mt-5">
        <div class="input-group" style="width: 85%; margin-left: 30px">
          <input
            type="text"
            style="
              border-right: 0px solid #fff;
              border-color: #01533b;
              border-radius: 0px;
            "
            class="form-control p-3"
            placeholder="Enter your delivery address"
            aria-label="Recipient's username with two button addons"
          />
          <button
            class="btn btn-outline-secondary"
            style="
              border-left: 0px solid #fff;
              border-color: #01533b;
              background-color: #fff;
            "
            type="button"
            id="getLocation"
            (click)="getCurrentLocation()"
          >
            <div class="d-flex">
              <mat-icon>location_searching</mat-icon>
              <div>&nbsp; Locate Me</div>
            </div>
          </button>
          <button
            class="btn text-uppercase text-white w-25"
            style="background-color: #01533b; font-weight: bold"
            type="button"
          >
            Find food
          </button>
        </div>
      </div>

      <div class="description mt-5 px-4">
        <h5 class="text-secondary">POPULAR CITIES IN INDIA</h5>
        <h6>
          Ahmedabad Bangalore Chennai Delhi Gurgaon Hyderabad Kolkata Mumbai
          Pune & more
        </h6>
      </div>
    </div>
    <div class="col-md-5">
      <img
        class="rightCover img-fluid w-100"
        src="https://res.cloudinary.com/swiggy/image/upload/fl_lossy,f_auto,q_auto,h_1340/Dinner4-new_glri3x"
        alt="swiggy"
      />
    </div>
  </div>
  <div class="serviceDetails w-100">
    <div class="container pb-5">
      <div class="row row-cols-1 row-cols-md-3 g-4">
        <div class="col">
          <div class="card mx-5 border-0">
            <img
              src="https://res.cloudinary.com/swiggy/image/upload/fl_lossy,f_auto,q_auto,w_210,h_398/4x_-_No_min_order_x0bxuf"
              class="card-img-top px-5 py-3"
              style="height: 300px"
              alt="..."
            />
            <div class="card-body">
              <h5 class="card-title text-white text-center">
                No Minimum Order
              </h5>
              <p class="card-text text-center">
                Order in for yourself or for the group, with no restrictions on
                order value
              </p>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card mx-5 border-0">
            <img
              src="https://res.cloudinary.com/swiggy/image/upload/fl_lossy,f_auto,q_auto,w_224,h_412/4x_Live_order_zzotwy"
              class="card-img-top px-5 py-3"
              style="height: 300px"
              alt="..."
            />
            <div class="card-body">
              <h5 class="card-title text-white text-center">
                Live Order Tracking
              </h5>
              <p class="card-text text-center">
                Know where your order is at all times, from the restaurant to
                your doorstep
              </p>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card mx-5 border-0">
            <img
              src="https://res.cloudinary.com/swiggy/image/upload/fl_lossy,f_auto,q_auto,w_248,h_376/4x_-_Super_fast_delivery_awv7sn"
              class="card-img-top px-5 py-3"
              style="height: 300px"
              alt="..."
            />
            <div class="card-body">
              <h5 class="card-title text-white text-center">
                Lightning-Fast Delivery
              </h5>
              <p class="card-text text-center">
                Experience Swiggy's superfast delivery for food delivered fresh
                & on time
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div style="width: 100%; height: 100%; display: none" id="google_map"></div> -->

<button (click)="openFilter()" id="myBtn" title="filter">
  <mat-icon>filter_alt</mat-icon>
</button>
<router-outlet></router-outlet>
