.profileCont{
  background-color: #f1f3f6 !important;
  .content{
    .row{
      padding: 25px 0px  !important;
      .leftbox{
        .headerbox{
          margin-bottom: 10px;
            .mat-card{
              border-radius: 0px !important;
              .username{
                font-weight: 900;
                font-size: 22px;
                font-family: sans-serif;
                letter-spacing: 1px;
              }
            }  
        }
        .sidemenu{
          mat-card{
            .list-group {
              .list-group-item{
                mat-icon{
                color: #0000ff;
                  }
                a{
                  color: #000 !important;
                  // letter-spacing: 1px;
                  // font-weight: 500;
                  cursor: text;
                }
                .list-head:hover{
                    color: #5ac579 !important;
                    cursor: pointer;
                  }
              }
            }
          }
          
        }
      }
      .rightbox{
            .mat-card{
              border-radius: 0px !important;
            }  
      }
    }

  }
}

.list-group-flush .list-group-item{
  border-width: 0px !important;
}
// a:hover{
//   color: #5ac579;
// }