<div class="profileCont">
  <div class="content">
    <div class="row w-100">
      <div class="col-md-1"></div>
      <div class="col-md-3 leftbox">
        <div class='headerbox'>
          <mat-card>
          <div class="d-flex align-items-center">
            <img src="./../../../../assets/images/pro.svg" alt="">
            <div class="mx-2">
              <div>Hello,</div>
              <mat-label class="username">Alok Patel</mat-label>
            </div>
          </div>
          </mat-card>
        </div>
        <div class="sidemenu">
          <mat-card class="p-0">
           <ul class="list-group list-group-flush">
            <li class="list-group-item">
              <div class="d-flex justify-content-between align-items-center py-1">
                <div class="align-items-center d-flex">
                  <mat-icon>list_alt</mat-icon>
                  <a class="px-3 list-head" [routerLink]="[ './myorders']">MY ORDERS</a>
                </div>
                  <mat-icon>navigate_next</mat-icon>
              </div>
            </li>
            <hr class="p-0 m-0">
            <li class="list-group-item">
              <div class="d-flex justify-content-between align-items-center py-1">
                <div class="align-items-center d-flex">
                  <mat-icon>person</mat-icon>
                  <a class="px-3" [routerLink]="[ '/path']">ACCOUNT SETTINGS</a>
                </div>
              </div>
            </li>
            <li class="list-group-item py-2 px-5">
              <a class="px-2 list-head py-2" [routerLink]="[ 'profile' ]">Profile Informations</a>
            </li>
            <li class="list-group-item py-2 px-5">
              <a class="px-2 list-head py-2" [routerLink]="[ 'delivery-address' ]">Manage Address</a>
            </li>
            <li class="list-group-item py-2 px-5">
              <a class="px-2 list-head py-2" [routerLink]="[ 'change-password' ]">Change Password</a>
            </li>
            <hr class="p-0 m-0">
            <li class="list-group-item">
              <div class="d-flex justify-content-between align-items-center py-1">
                <div class="align-items-center d-flex">
                  <mat-icon>payments</mat-icon>
                  <a class="px-3" [routerLink]="[ '/path']">PAYMENTS</a>
                </div>
              </div>
            </li>
            <li class="list-group-item py-2 px-5">
              <a class="px-2 list-head py-2" [routerLink]="[ '/path' ]">Save UPI</a>
            </li>
            <li class="list-group-item py-2 px-5">
              <a class="px-2 list-head py-2" [routerLink]="[ '/path' ]">Save Cards</a>
            </li>
            <hr class="p-0 m-0">
            <li class="list-group-item">
              <div class="d-flex justify-content-between align-items-center py-1">
                <div class="align-items-center d-flex">
                  <mat-icon>comment</mat-icon>
                  <a class="px-3 list-head" [routerLink]="[ '/path']">MY CHATS</a>
                </div>
                  <mat-icon>navigate_next</mat-icon>
              </div>
            </li>
            <hr class="p-0 m-0">
            <li class="list-group-item">
              <div class="d-flex justify-content-between align-items-center py-1">
                <div class="align-items-center d-flex">
                  <mat-icon>payments</mat-icon>
                  <a class="px-3" [routerLink]="[ '/path']">PAYMENTS</a>
                </div>
              </div>
            </li>
            <li class="list-group-item py-2 px-5">
              <a class="px-2 list-head py-2" [routerLink]="[ '/path' ]">Save UPI</a>
            </li>
            <li class="list-group-item py-2 px-5">
              <a class="px-2 list-head py-2" [routerLink]="[ '/path' ]">Save Cards</a>
            </li>
            <hr class="p-0 m-0">
            <li class="list-group-item">
              <div class="d-flex justify-content-between align-items-center py-1">
                <div class="align-items-center d-flex">
                  <mat-icon>folder_shared</mat-icon>
                  <a class="px-3" [routerLink]="[ '/path']">MY STUFFS</a>
                </div>
              </div>
            </li>
            <li class="list-group-item py-2 px-5">
              <a class="px-2 list-head py-2" [routerLink]="[ '/path' ]">Notifications</a>
            </li>
            <li class="list-group-item py-2 px-5">
              <a class="px-2 list-head py-2" [routerLink]="[ '/path' ]">Coupons</a>
            </li>
            <li class="list-group-item py-2 px-5">
              <a class="px-2 list-head py-2" [routerLink]="[ '/path' ]">Wishlist</a>
            </li>
            <li class="list-group-item py-2 px-5">
              <a class="px-2 list-head py-2" [routerLink]="[ '/path' ]">Reviews & Rating</a>
            </li>
            <hr class="p-0 m-0">
            <li class="list-group-item">
              <div class="d-flex justify-content-between align-items-center py-1">
                <div class="align-items-center d-flex">
                  <mat-icon>logout</mat-icon>
                  <a class="px-3 list-head" (click)="logout()">LOGOUT</a>
                </div>
                  <mat-icon>navigate_next</mat-icon>
              </div>
            </li>
            <hr class="p-0 m-0">

          </ul>
          </mat-card>
          <!-- <div class="card">
            <ul>
              <li>
                <div class="d-flex align-items-center">
                  <mat-icon>list_alt</mat-icon>
                  <a class="px-3" [routerLink]="[ '/path']">MY ORDERS</a>
                  <mat-icon style="margin-left: 76px !important;">navigate_next</mat-icon>
                  </div>
              </li>
            </ul> -->
              <!-- <nz-list>
                <nz-list-item>
                  <div class="d-flex align-items-center px-3">
                    <mat-icon>list_alt</mat-icon>
                      <a class="px-3" [routerLink]="[ '/path']">MY ORDERS</a>
                      <mat-icon style="margin-left: 76px !important;">navigate_next</mat-icon>
                  </div>
                </nz-list-item>
                <mat-divider></mat-divider>
                <nz-list-item>
                  <div class="d-flex align-items-center px-3">
                    <mat-icon>person</mat-icon>
                      <a class="px-3" [routerLink]="[ '/path']">ACCOUNT SETTINGS</a>
                  </div>
                </nz-list-item>
                <nz-list-item>
                  <a class="px-5" [routerLink]="[ '/path' ]">Profile Information</a>
                </nz-list-item>
                <nz-list-item>
                  <a class="px-5" [routerLink]="[ '/path' ]">Manage Address</a>
                </nz-list-item>
                <mat-divider class="w-100"></mat-divider>
              </nz-list> -->
          <!-- </div> -->
        </div>
      </div>
      <div class="col-md-7 rightbox"> 
        <router-outlet></router-outlet>
        <!-- <mat-card>
          <mat-card-header>
            
          </mat-card-header>
        </mat-card> -->
      </div>
      <div class="col-md-1"></div>
    </div>
  </div>
</div>