.sellerAccount {
  background-color: #ecfdf2;
}

.steps-content {
  margin-top: 16px;
  border: 1px dashed #e9e9e9;
  border-radius: 6px;
  background-color: #fff;
  min-height: 79vh;
  // text-align: center;
  // padding: 20px;
  // margin: 30px 10px;
}

.steps-action {
  margin-top: 24px;
}

button {
  margin-right: 8px;
}

.mat-form-field {
  width: 100% !important;
}
.mat-input-wrapper {
  width: 900px !important;
}

.ant-btn[disabled] {
  background-color: #817c7c;
  color: #fff;
}

ngx-material-timepicker-content .timepicker-dial__control:focus {
  outline: none !important;
  border: 1px solid #fff !important;
  border-radius: 0px !important;
}

::ng-deep :host .timepicker__header[_ngcontent-swj-c165] {
  background-color: #52b575 !important;
}

ngx-material-timepicker-content {
  --body-background-color: #fff !important;
  --primary-font-family: "poppinsregular";
  --button-color: #52b575 !important;
  --dial-active-color: #fff !important;
  --dial-inactive-color: rgba(255, 255, 255, 0.5) !important;
  --dial-background-color: #52b575 !important;
  --dial-editable-active-color: #52b575 !important;
  --dial-editable-background-color: #fff !important;
  --clock-face-time-active-color: #fff !important;
  --clock-face-time-inactive-color: #6c6c6c !important;
  --clock-face-inner-time-inactive-color: #929292 !important;
  --clock-face-time-disabled-color: #c5c5c5 !important;
  --clock-face-background-color: #f0f0f0 !important;
  --clock-hand-color: #52b575 !important;
}
