<div class="sellerAccount">
  <div class="steper py-2 px-5 mx-5">
    <nz-steps [nzCurrent]="current">
      <nz-step nzTitle="Shop Details"></nz-step>
      <!-- <nz-step nzTitle="Shop/Branch Address"></nz-step> -->
      <nz-step nzTitle="Set Login Credentials"></nz-step>
    </nz-steps>
  </div>
  <div class="container">
    <div class="steps-content">
      <div class="m-5 d-flex justify-content-around align-items-center">
        <div *ngIf="current === 0">
          <form [formGroup]="shopForm" style="width: 635px" autocomplete="off">
            <h4 class="text-center">Shop Details</h4>
            <div class="row w-100 py-2">
              <div class="col-md-6">
                <mat-form-field appearance="outline">
                  <mat-label>Shop Name</mat-label>
                  <input matInput required formControlName="shopname" />
                  <mat-error *ngIf="brancherr.shopname.hasError('required')"
                    >This field is required</mat-error
                  >
                </mat-form-field>
              </div>
              <div class="col-md-6">
                <mat-form-field appearance="outline">
                  <mat-label>Shop Contact Number</mat-label>
                  <input
                    matInput
                    required
                    formControlName="shopContactNumber"
                  />
                  <mat-error
                    *ngIf="brancherr.shopContactNumber.hasError('required')"
                    >This field is required</mat-error
                  >
                  <mat-error
                    *ngIf="
                      brancherr.shopContactNumber.hasError('minlength') ||
                      brancherr.shopContactNumber.hasError('maxlength')
                    "
                    >Invalid contact number</mat-error
                  >
                  <mat-hint>Use for shop</mat-hint>
                </mat-form-field>
              </div>
            </div>
            <div class="row w-100 py-2">
              <div class="col-md-6">
                <mat-form-field appearance="outline">
                  <mat-label>Open Time</mat-label>
                  <input
                    matInput
                    required
                    formControlName="openTime"
                    [ngxTimepicker]="openTime"
                  />
                  <mat-icon matSuffix>watch_later</mat-icon>
                  <mat-error *ngIf="brancherr.openTime.hasError('required')"
                    >This field is required</mat-error
                  >
                </mat-form-field>
                <ngx-material-timepicker #openTime></ngx-material-timepicker>
              </div>
              <div class="col-md-6">
                <mat-form-field appearance="outline">
                  <mat-label>Close Time</mat-label>
                  <input
                    matInput
                    required
                    formControlName="closeTime"
                    [ngxTimepicker]="CloseTime"
                  />
                  <mat-icon matSuffix>watch_later</mat-icon>
                  <mat-error *ngIf="brancherr.closeTime.hasError('required')"
                    >This field is required</mat-error
                  >
                </mat-form-field>
                <ngx-material-timepicker #CloseTime></ngx-material-timepicker>
              </div>
            </div>

            <div class="row w-100 py-2">
              <div class="col-md-12">
                <mat-form-field appearance="outline">
                  <mat-label>Shop Address</mat-label>
                  <textarea
                    matInput
                    required
                    formControlName="address"
                    rows="4"
                    cols="5"
                  ></textarea>
                  <mat-error *ngIf="brancherr.address.hasError('required')"
                    >This field is required</mat-error
                  >
                </mat-form-field>
              </div>
            </div>
            <div class="row py-2 w-100">
              <div class="col-md-6">
                <mat-form-field appearance="outline">
                  <mat-label>State</mat-label>
                  <mat-select
                    required
                    formControlName="state"
                    (selectionChange)="selectCities()"
                    #singleSelect
                  >
                    <mat-option value="">Select State</mat-option>
                    <mat-option [value]="item" *ngFor="let item of stateList">{{
                      item
                    }}</mat-option>
                  </mat-select>
                  <mat-error *ngIf="brancherr.state.hasError('required')"
                    >This field is required</mat-error
                  >
                </mat-form-field>
              </div>
              <div class="col-md-6">
                <mat-form-field appearance="outline">
                  <mat-label>City</mat-label>
                  <mat-select required formControlName="city">
                    <mat-option value="">Select City</mat-option>
                    <mat-option [value]="item" *ngFor="let item of cityList">{{
                      item
                    }}</mat-option>
                  </mat-select>
                  <mat-error *ngIf="brancherr.city.hasError('required')"
                    >This field is required</mat-error
                  >
                </mat-form-field>
              </div>
            </div>
            <div class="row w-100 py-2">
              <div class="col-md-6">
                <mat-form-field appearance="outline">
                  <mat-label>Landmark</mat-label>
                  <input matInput formControlName="landmark" />
                </mat-form-field>
              </div>
              <div class="col-md-6">
                <mat-form-field appearance="outline">
                  <mat-label>Postal Code</mat-label>
                  <input matInput required formControlName="pincode" />
                  <mat-error *ngIf="brancherr.pincode.hasError('required')"
                    >This field is required</mat-error
                  >
                  <mat-error
                    *ngIf="
                      brancherr.pincode.hasError('minlength') ||
                      brancherr.pincode.hasError('maxlength')
                    "
                    >Invalid postal code</mat-error
                  >
                </mat-form-field>
              </div>
            </div>
          </form>
        </div>
        <!-- <div *ngIf="current === 1">
          <form
            [formGroup]="branchDetails"
            style="width: 635px"
            autocomplete="off"
          >
            <h4 class="text-center">Add Branch Details</h4>

            <section
              class="container border mb-4 p-3"
              formArrayName="addresses"
              *ngFor="let address of addressControls; let i = index"
            >
              <div [formGroupName]="i">
                <div class="row">
                  <div class="col-6">
                    <h4>Branch {{ i + 1 }}</h4>
                  </div>
                  <div class="col-6 text-left">
                    <button nz-button nzDanger (click)="removeAddress(i)">
                      Remove
                    </button>
                  </div>
                </div>
                <div class="row">
                  <div class="col-6">
                    <div class="form-group">
                      <mat-form-field appearance="outline">
                        <mat-label>Branch Name</mat-label>
                        <input matInput formControlName="branchname" required />
                        <mat-error
                          *ngIf="
                            branchaddresserr.controls[i].get('branchname')
                              .errors?.required
                          "
                          >This field is required
                        </mat-error>
                      </mat-form-field>
                    </div>
                  </div>
                  <div class="col-6">
                    <div class="form-group">
                      <mat-form-field appearance="outline">
                        <mat-label>Branch Id</mat-label>
                        <input matInput readonly formControlName="branchId" />
                      </mat-form-field>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-12">
                    <div class="form-group">
                      <mat-form-field appearance="outline">
                        <mat-label>Branch Address</mat-label>
                        <textarea
                          matInput
                          required
                          formControlName="address"
                          rows="4"
                          cols="5"
                        ></textarea>
                        <mat-error
                          *ngIf="brancherr.address.hasError('required')"
                          >This field is required</mat-error
                        >
                        <mat-error
                          *ngIf="
                            branchaddresserr.controls[i].get('address').errors
                              ?.required
                          "
                          >This field is required
                        </mat-error>
                      </mat-form-field>
                    </div>
                  </div>
                </div>

                <div class="row">
                  <div class="col-6">
                    <div class="form-group">
                      <mat-form-field appearance="outline">
                        <mat-label>State</mat-label>
                        <mat-select
                          required
                          formControlName="state"
                          (selectionChange)="selectformCities(i)"
                          #singleSelect
                        >
                          <mat-option value="">Select State</mat-option>
                          <mat-option
                            [value]="item"
                            *ngFor="let item of stateList"
                            >{{ item }}</mat-option
                          >
                        </mat-select>
                        <mat-error *ngIf="brancherr.state.hasError('required')"
                          >This field is required</mat-error
                        >
                        <mat-error
                          *ngIf="
                            branchaddresserr.controls[i].get('state').errors
                              ?.required
                          "
                          >This field is required
                        </mat-error>
                      </mat-form-field>
                    </div>
                  </div>
                  <div class="col-6">
                    <div class="form-group">
                      <mat-form-field appearance="outline">
                        <mat-label>City</mat-label>
                        <mat-select required formControlName="city">
                          <mat-option value="">Select City</mat-option>
                          <mat-option
                            [value]="item"
                            *ngFor="let item of cityList"
                            >{{ item }}</mat-option
                          >
                        </mat-select>
                        <mat-error
                          *ngIf="
                            branchaddresserr.controls[i].get('city').errors
                              ?.required
                          "
                          >This field is required
                        </mat-error>
                      </mat-form-field>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-6">
                    <div class="form-group">
                      <mat-form-field appearance="outline">
                        <mat-label>Landmark</mat-label>
                        <input matInput formControlName="landmark" />
                      </mat-form-field>
                    </div>
                  </div>
                  <dic class="col-6">
                    <mat-form-field appearance="outline">
                      <mat-label>Branch Contact Number</mat-label>
                      <input
                        matInput
                        required
                        formControlName="contactNumber"
                      />
                      <mat-error
                        *ngIf="
                          branchaddresserr.controls[i].get('contactNumber')
                            .errors?.required
                        "
                        >This field is required
                      </mat-error>
                      <mat-error
                        *ngIf="addresserr.contactNumber.hasError('required')"
                        >This field is required</mat-error
                      >
                      <mat-error
                        *ngIf="
                          brancherr.contactNumber.hasError('minlength') ||
                          brancherr.contactNumber.hasError('maxlength')
                        "
                        >Invalid contact number</mat-error
                      >
                      <mat-hint>Use for shop</mat-hint>
                    </mat-form-field>
                  </dic>
                </div>
              </div>
            </section>
            <button
              type="button"
              class="btn btn-primary mb-2"
              (click)="addAddress()"
            >
              Add Branch
            </button>
          </form>
        </div> -->
        <div *ngIf="current === 1">
          <form [formGroup]="loginForm" autocomplete="off" style="width: 635px">
            <h4 class="text-center">Set Login Credentials</h4>
            <div class="row w-100 py-2">
              <div class="col-md-6">
                <mat-form-field appearance="outline">
                  <mat-label>Shop Id</mat-label>
                  <input matInput readonly formControlName="shopId" />
                </mat-form-field>
              </div>
              <div class="col-md-6">
                <mat-form-field appearance="outline">
                  <mat-label>Owner Name</mat-label>
                  <input matInput required formControlName="ownerName" />
                  <mat-error *ngIf="loginserr.ownerName.hasError('required')"
                    >This field is required</mat-error
                  >
                </mat-form-field>
              </div>
            </div>
            <div class="row w-100 py-2">
              <div class="col-md-6">
                <mat-form-field appearance="outline">
                  <mat-label>Owner Email</mat-label>
                  <input
                    type="email"
                    matInput
                    required
                    formControlName="ownerEmail"
                  />
                  <mat-error *ngIf="loginserr.ownerEmail.hasError('required')"
                    >This field is required</mat-error
                  >
                  <mat-error
                    *ngIf="
                      loginserr.ownerEmail.invalid &&
                      !loginserr.ownerEmail.hasError('required')
                    "
                    >Invalid Email Id</mat-error
                  >
                </mat-form-field>
              </div>
              <div class="col-md-6">
                <mat-form-field appearance="outline">
                  <mat-label>Owner Contact Number</mat-label>
                  <input matInput required formControlName="ownerNumber" />
                  <mat-error *ngIf="loginserr.ownerNumber.hasError('required')"
                    >This field is required</mat-error
                  >
                  <mat-error
                    *ngIf="
                      loginserr.ownerNumber.hasError('minlength') ||
                      loginserr.ownerNumber.hasError('maxlength')
                    "
                    >Invalid contact number</mat-error
                  >
                </mat-form-field>
              </div>
            </div>
            <div class="row w-100 py-2">
              <div class="col-md-6">
                <mat-form-field appearance="outline">
                  <mat-label>Password</mat-label>
                  <input
                    [type]="passwordVisible ? 'text' : 'password'"
                    required
                    formControlName="password"
                    name="password"
                    matInput
                    required
                  />
                  <mat-icon
                    matSuffix
                    style="cursor: pointer"
                    *ngIf="!passwordVisible"
                    (click)="passwordVisible = !passwordVisible"
                    >visibility</mat-icon
                  >
                  <mat-icon
                    matSuffix
                    style="cursor: pointer"
                    *ngIf="passwordVisible"
                    (click)="passwordVisible = !passwordVisible"
                    >visibility_off</mat-icon
                  >
                  <mat-error *ngIf="loginserr.password.hasError('required')"
                    >This field is required</mat-error
                  >
                  <mat-error *ngIf="loginserr.password.hasError('minlength')"
                    >Password should be greater then 6 charectors</mat-error
                  >
                </mat-form-field>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
  <div class="actionButton px-5 pb-4">
    <div class="steps-action">
      <div class="d-flex justify-content-between" *ngIf="current === 0">
        <button nz-button nzType="default" (click)="pre()">
          <span>Back</span>
        </button>
        <button
          nz-button
          class="saveBtn"
          [disabled]="shopForm.status === 'INVALID'"
          (click)="next()"
        >
          <span>Next</span>
        </button>
      </div>
      <!-- <div class="d-flex justify-content-between" *ngIf="current === 1">
        <button nz-button nzType="default" (click)="pre()">
          <span>Back</span>
        </button>
        <button
          nz-button
          class="saveBtn"
          [disabled]="branchDetails.status === 'INVALID'"
          (click)="next()"
        >
          <span>Next</span>
        </button>
      </div> -->
      <div class="d-flex justify-content-between" *ngIf="current === 1">
        <button nz-button nzType="default" (click)="pre()">
          <span>Back</span>
        </button>
        <button
          nz-button
          class="saveBtn"
          [disabled]="loginForm.status === 'INVALID'"
          (click)="onSubmit()"
        >
          <span>Submit</span>
        </button>
      </div>
    </div>
  </div>
</div>

<ngx-spinner
  bdColor="rgba(0, 0, 0, 0.2)"
  size="medium"
  color="#fff"
  type="line-scale"
  [fullScreen]="true"
  ><p style="color: white; margin-top: 20px">Loading...</p></ngx-spinner
>
