<div class="d-flex justify-content-center">
  <form class="mt-5" enctype="multipart/form-data">
    <h5>Single Image</h5>
    <input type="file" name="myimage" id="" (change)="singleImage($event)" />
    <input type="file" name="myimage" id="" (change)="singleImage($event)" />
    <button class="btn btn-primary" (click)="save()">Upload</button>
  </form>
</div>
