<div class="product mt-1">
  <nz-steps [nzCurrent]="current" class="w-100 m-3">
    <nz-step nzTitle="Product Details"></nz-step>
    <nz-step nzTitle="Add Quantity"></nz-step>
    <nz-step nzTitle="Upload Images"></nz-step>
  </nz-steps>
  <h5 class="text-center">
    {{
      current == 0
        ? "Product Details"
        : current == 1
        ? "Add Quantity"
        : "Upload Images"
    }}
  </h5>
  <hr />
  <nz-card>
    <form
      [formGroup]="categoryForm"
      #formDirective="ngForm"
      autocomplete="off"
      enctype="multipart/form-data"
    >
      <div *ngIf="current === 0">
        <div class="row w-100">
          <div class="col-md-3"></div>
          <div class="col-md-6">
            <mat-form-field class="w-100" appearance="outline">
              <mat-label>Product Name</mat-label>
              <input
                type="text"
                formControlName="productName"
                matInput
                required
              />
              <mat-error *ngIf="geterr.productName.hasError('required')"
                >This field is required</mat-error
              >
            </mat-form-field>
          </div>
          <div class="col-md-3"></div>
        </div>
        <div class="row w-100">
          <div class="col-md-3"></div>
          <div class="col-md-6">
            <mat-form-field appearance="outline" class="w-100">
              <mat-label>Select Category</mat-label>
              <mat-select name="name" formControlName="categoryName" required>
                <mat-option *ngFor="let item of category" [value]="item._id">{{
                  item.category | titlecase
                }}</mat-option>
              </mat-select>
              <mat-error *ngIf="geterr.categoryName.hasError('required')"
                >This field is required</mat-error
              >
            </mat-form-field>
          </div>
          <div class="col-md-3"></div>
        </div>

        <div class="row w-100">
          <div class="col-md-3"></div>
          <div class="col-md-6">
            <mat-form-field class="w-100" appearance="outline">
              <mat-label>Brand Name</mat-label>
              <input
                formControlName="brandName"
                type="text"
                matInput
                required
              />
              <mat-error *ngIf="geterr.productName.hasError('required')"
                >This field is required</mat-error
              >
            </mat-form-field>
          </div>
          <!-- <div class="col-md-4" *ngIf="discount">
            
          </div> -->
        </div>

        <div class="row w-100">
          <!-- <div class="col-md-4 d-flex">
            <div class="col-md-6">
              <mat-form-field class="w-100" appearance="outline">
                <mat-label>Best Befour</mat-label>
                <input
                  formControlName="expirydate"
                  type="text"
                  matInput
                  required
                />
                <mat-error *ngIf="geterr.expirydate.hasError('required')"
                  >This field is required</mat-error
                >
              </mat-form-field>
            </div>
            <div class="col-md-6">
              <mat-form-field class="w-100" appearance="outline">
                <mat-label>Days</mat-label>
                <mat-select name="name" formControlName="duration" required>
                  <mat-option
                    *ngFor="let item of duration"
                    [value]="item.days"
                    >{{ item.discription | titlecase }}</mat-option
                  >
                </mat-select>
                <mat-error *ngIf="geterr.duration.hasError('required')"
                  >This field is required</mat-error
                >
              </mat-form-field>
            </div>
          </div> -->
        </div>

        <div class="row w-100">
          <div class="col-md-3"></div>
          <div class="col-md-6">
            <mat-form-field appearance="outline" class="w-100">
              <mat-label>Key Features</mat-label>
              <textarea rows="4" cols="4" matInput></textarea>
            </mat-form-field>
          </div>
          <div class="col-md-3"></div>
        </div>
        <div class="row w-100">
          <div class="col-md-3"></div>
          <div class="col-md-6">
            <mat-form-field appearance="outline" class="w-100">
              <mat-label>Ingredients</mat-label>
              <textarea rows="4" cols="4" matInput></textarea>
            </mat-form-field>
          </div>
          <div class="col-md-3"></div>
        </div>
      </div>
      <div *ngIf="current === 1" [formGroupName]="i">
        <div
          formArrayName="quantity"
          *ngFor="let qunt of quantityControls; let i = index"
        >
          <div>
            <div class="row w-100">
              <div class="col-md-2"></div>

              <div class="col-md-4">
                <mat-form-field class="w-100" appearance="outline">
                  <mat-label>Available In </mat-label>
                  <mat-select formControlName="availablein" required>
                    <mat-option
                      *ngFor="let item of availableIn"
                      [value]="item"
                      >{{ item }}</mat-option
                    >
                    <!-- (onSelectionChange)="change($event)" -->
                  </mat-select>
                  <mat-error
                    *ngIf="
                      getValidity(i)?.get('availablein').hasError('required')
                    "
                    >This field is required</mat-error
                  >
                </mat-form-field>
              </div>
              <div class="col-md-4">
                <mat-form-field appearance="outline" class="w-100">
                  <mat-label>Number of Availabe Quantity</mat-label>
                  <input
                    type="text"
                    matInput
                    formControlName="inStockNumber"
                    required
                    pattern="^[0-9]*$"
                  />

                  <mat-error
                    *ngIf="
                      getValidity(i)?.get('inStockNumber').hasError('required')
                    "
                    >This field is required</mat-error
                  >
                  <mat-error
                    *ngIf="getValidity(i)?.get('inStockNumber').errors?.pattern"
                    >Only integers value accepted</mat-error
                  >
                  <mat-error
                    *ngIf="getValidity(i)?.get('inStockNumber').hasError('max')"
                    >Stock should be less then 500</mat-error
                  >
                </mat-form-field>
              </div>
              <div class="col-md-2">
                <button
                  *ngIf="!(i == 0)"
                  class="mt-2"
                  type="button"
                  (click)="removeQuntityForm(i)"
                  mat-flat-button
                  color="warn"
                >
                  Remove
                </button>
              </div>
            </div>
            <div class="row w-100">
              <div class="col-md-2"></div>
              <div class="col-md-4">
                <mat-form-field class="w-100" appearance="outline">
                  <mat-label>Price Rs.</mat-label>
                  <input
                    type="text"
                    matInput
                    required
                    (input)="calculateDiscount(i)"
                    formControlName="productprice"
                  />
                  <mat-error
                    *ngIf="
                      getValidity(i)?.get('productprice').hasError('required')
                    "
                    >This field is required</mat-error
                  >
                  <mat-error
                    *ngIf="getValidity(i)?.get('productprice').hasError('min')"
                    >Price should be greater then 0.</mat-error
                  >
                  <mat-error
                    *ngIf="getValidity(i)?.get('productprice').errors?.pattern"
                    >Only integers value accepted</mat-error
                  >
                </mat-form-field>
              </div>
              <div class="col-md-4">
                <mat-form-field class="w-100" appearance="outline">
                  <mat-label>Discount (In %)</mat-label>
                  <input
                    type="text"
                    matInput
                    formControlName="discount"
                    (input)="calculateDiscount(i)"
                  />
                  <mat-error
                    *ngIf="getValidity(i)?.get('discount').errors?.pattern"
                    >Only integers value accepted</mat-error
                  >
                  <mat-error
                    *ngIf="getValidity(i)?.get('discount').hasError('max')"
                    >Discount % should be less then 100</mat-error
                  >
                </mat-form-field>
              </div>
              <div class="col-md-2"></div>
            </div>
            <div class="row w-100">
              <div class="col-md-2"></div>
              <div class="col-md-4">
                <mat-form-field class="w-100" appearance="outline">
                  <mat-label>Selling Price</mat-label>
                  <input
                    type="text"
                    matInput
                    formControlName="sellingPrice"
                    readonly
                  />
                </mat-form-field>
              </div>
              <div class="col-md-4">
                <mat-form-field class="w-100" appearance="outline">
                  <mat-label>Discount Price</mat-label>
                  <input
                    type="text"
                    matInput
                    formControlName="discountPrice"
                    readonly
                  />
                </mat-form-field>
              </div>
              <div class="col-md-4"></div>
              <div class="col-md-2"></div>
            </div>
            <hr />
          </div>
        </div>
        <div class="text-center">
          <button
            type="button"
            (click)="addQuantity()"
            class="mb-4"
            mat-flat-button
            color="primary"
          >
            {{ "Add same product with different qunatity" | titlecase }}
          </button>
        </div>
      </div>
      <div *ngIf="current === 2" class="d-flex justify-content-center">
        <div class="w-50 d-flex flex-column">
          <div class="clearfix">
            <div class="clearfix">
              <nz-upload
                nzListType="picture-card"
                [(nzFileList)]="fileList"
                [nzShowButton]="fileList.length < 6"
                [nzPreview]="handlePreview"
                (nzChange)="selectImageChange($event)"
              >
                <!-- [nzShowUploadList]="{ showDownloadIcon: false }" -->
                <div>
                  <i nz-icon nzType="plus"></i>
                  <div style="margin-top: 8px">Upload</div>
                </div>
              </nz-upload>
              <nz-modal
                [nzVisible]="previewVisible"
                [nzContent]="modalContent"
                [nzFooter]="null"
                (nzOnCancel)="previewVisible = false"
              >
                <ng-template #modalContent>
                  <img [src]="previewImage" [ngStyle]="{ width: '100%' }" />
                </ng-template>
              </nz-modal>
            </div>
          </div>
          <hr />

          <div class="imagePreview">
            <h5>Select Image from Zippy Gallary</h5>
            <nz-checkbox-wrapper
              style="width: 100%"
              (nzOnChange)="onSelectImages($event)"
            >
              <img
                *ngFor="let item of zippyImage"
                nz-checkbox
                [nzValue]="item"
                class="img-fluid m-1"
                style="width: 100px; height: 100px"
                src="http://localhost:8090{{ item }}"
                alt=""
              />
            </nz-checkbox-wrapper>
          </div>
        </div>
      </div>
    </form>

    <div class="row mt-3">
      <div class="col w-100 d-flex justify-content-between">
        <button (click)="back()" mat-raised-button>Back</button>
        <button
          *ngIf="current === 0"
          class="saveBtn"
          (click)="next(formDirective)"
          mat-raised-button
          [disabled]="checkInputFieldsValid()"
        >
          Next
        </button>
        <button
          *ngIf="current === 1"
          class="saveBtn"
          (click)="next(formDirective)"
          mat-raised-button
          [disabled]="myForm?.status === 'INVALID'"
        >
          Next
        </button>
        <button
          *ngIf="current === 2"
          class="saveBtn"
          (click)="next(formDirective)"
          mat-raised-button
        >
          Save
        </button>
      </div>
    </div>
  </nz-card>
</div>

<ngx-spinner
  bdColor="rgba(0, 0, 0, 0.2)"
  size="medium"
  color="#fff"
  type="line-scale"
  [fullScreen]="true"
  ><p style="color: white; margin-top: 20px">Loading...</p></ngx-spinner
>
