textarea {
  resize: none !important;
}
.ant-checkbox-wrapper-checked {
  border: 5px solid #5285b5 !important;
}

:host ::ng-deep .ant-upload-list-picture-card .ant-upload-list-item-error {
  border-color: blue !important;
}
