// * {
//   font-family: "Roboto", sans-serif;
// }
.ShopDetails {
  font-family: "Roboto", sans-serif;
  .container-fluid {
    .navbar {
      z-index: 999;
      background-color: #000 !important;
      color: #fff !important;
      .row {
      }
    }
  }
  .item-content {
    // margin-top: 10px;
    .row {
      margin: 0px !important;
      padding: 0px !important;
      // h3 {
      //   margin-top: 30px;
      // }
      .recommend {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: flex-end !important;
        margin-top: 60px;
        .items {
          padding: 0px 20px 8px 0px;
          font-weight: 500;
          text-decoration: none;
          color: #000;
          text-transform: capitalize;
          cursor: pointer;
          border-right: 3px solid #fff;
          &:hover {
            color: #5bc574;
          }
        }
        .active {
          color: #5bc574;
          border-right: 3px solid #5bc574;
        }
      }
      .itemdetails {
        // display: flex;
        // justify-content: center;
        // flex-direction: row;
        // flex-wrap: wrap;
        // align-items: center;
        // background-color: #fff;
        margin-top: 60px;
        overflow: hidden;
        overflow-y: scroll;
        height: 100vh !important;
        padding: 20px 0px;
        .category {
          h5 {
            // color: #5bc574;
          }
          .items {
            .prodname {
            }
          }
        }
      }
      .cart {
        margin-top: 60px;
        margin-bottom: 50px;
        padding: 20px 10px;
        .cartContainer {
          // border: 1px solid #5bc574;
          // border-radius: 5px;
          // padding-bottom: 20px;
          .cartItems {
            margin: 10px;
            // margin-right: 30px;
            display: flex;
            justify-content: space-between;
            .btns {
              width: 80px;
              border: 1px solid #5bc574;
              padding: 2px 1px;
              height: 30px;
              display: flex;
              justify-content: space-between;
              // align-items: center !important;
              mat-icon {
                cursor: pointer;
                color: #5bc574;
              }
            }
            .itemname {
              width: 150px;
              text-transform: capitalize;
            }
          }
        }

        // background-color: #fff;
        // height: 100vh !important;
        // overflow: hidden;
        // overflow-y: scroll;
        // padding: 20px 12px;
      }
    }
  }
}
.addtocartbtn {
  // color: #5bc574;
  // color: #fff;
  // cursor: pointer;
  // z-index: -1 !important;
}
.cartFooter {
  padding: 10px 0px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.grandTotal {
  font-family: "Courier New", Courier, monospace;
}
.checkoutBtn {
  // justify-content: center;
  // display: flex;
  width: 60% !important;
}
.cartbtn {
  width: 100% !important;
  font-size: 20px;
  color: #fff !important;
  background-color: #5bc574 !important;
}

hr:not([size]) {
  height: 3px !important;
}

.dot {
  height: 10px;
  width: 10px;
  background-color: #5bc574;
  border-radius: 50%;
  display: inline-block;
}
::ng-deep .ant-back-top-content {
  background-color: #000 !important;
}
#myBtn {
  display: block; /* Hidden by default */
  position: fixed; /* Fixed/sticky position */
  bottom: 20px; /* Place the button at the bottom of the page */
  right: 30px; /* Place the button 30px from the right */
  z-index: 99; /* Make sure it does not overlap */
  border: none; /* Remove borders */
  outline: none; /* Remove outline */
  background-color: #fff; /* Set a background color */
  color: #01533b; /* Text color */
  cursor: pointer; /* Add a mouse pointer on hover */
  padding: 13px 13px 6px 13px; /* Some padding */
  border-radius: 10px; /* Rounded corners */
  background-color: #ebefe5;
  //   font-size: 18px; /* Increase font size */
}

#myBtn:hover {
  background-color: #01533b; /* Add a dark-grey background on hover */
  color: #fff;
}

::ng-deep .ant-btn {
  transition: none !important;
}
:host ::ng-deep .ant-btn:active,
.ant-btn:hover {
  border: 0px !important;
  color: #000 !important;
  border-color: #000 !important;
}

/* width */
::-webkit-scrollbar {
  width: 3px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #fff;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #5bc574;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #5bc574;
}
.rating {
  background-color: #5bc574;
  padding: 0px 2px;
  color: #fff;
  align-items: center;
  width: 45px !important;
  display: flex;
  border-radius: 3px;
}
.action-button {
  // width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-end !important;
}
.shopName {
  font-size: 25px !important;
  font-weight: 400;
  letter-spacing: 1px;
}

#navbar {
  overflow: hidden;
  background-color: #333;
  height: 60px;
  color: #fff !important;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 23px;
  z-index: 999;
}

#navbar a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}
.sticky {
  position: fixed;
  top: 0;
  width: 100%;
  // margin-top: 0px !important;
}
.sticky + .content {
  padding-top: 60px;
}
