<div class="ShopDetails px-0 m-0" id="shop">
  <div class="container-fluid p-0 m-0">
    <!-- <nav
      id="shopbanner"
      class="navbar navbar-expand-lg navbar-light bg-light px-2"
    >
      <div class="row w-100">
        <div class="col-md-3 pl-4">
          <img
            src="../../../assets/images/shop.jpg"
            class="card-img px-5 my-3"
            alt="shop Image"
            title="{{ shopDetails?.shopName }}"
          />
        </div>
        <div class="col-md-6">
          <div class="shopName mt-3">
            {{ shopDetails?.shopName | titlecase }}
          </div>
          <div class="address">{{ shopDetails?.address | titlecase }}</div>
          <div class="desc">
            <div class="d-flex mt-2 justify-content-start">
              <div>
                <i class="px-2" nz-icon nzType="star" nzTheme="fill"></i>
                {{
                  shopDetails?.rating.length != 0 ? shopDetails?.rating : "--"
                }}
              </div>
              <div class="px-5">
                {{
                  shopDetails?.zippian
                    ? ("zippian" | titlecase)
                    : ("not zippian" | titlecase)
                }}
              </div>
            </div>
          </div>
          <div class="search mt-3">
            <div class="d-flex justify-content-around">
              <form class="d-flex">
                <input type="text" nz-input placeholder="Search..." />
                <button nz-button>Search</button>
              </form>
              <button class="text-center" nz-button>
                <span class="material-icons"> favorite_border </span>
              </button>
            </div>
          </div>
        </div>
        <div class="col-md-3">
          <h4 class="text-capitalize mt-3" style="color: #fff">Offer's</h4>
          <div class="d-flex py-1">
            <span class="material-icons px-2"> local_offer </span>
            <div>abcd</div>
          </div>
          <div class="d-flex py-1">
            <span class="material-icons px-2"> local_offer </span>
            <div>abcd</div>
          </div>
        </div>
      </div>
    </nav> -->
    <div
      id="navbar"
      [ngStyle]="{ 'margin-top': pageYOffSet == 0 ? '62px' : '0px' }"
    >
      <!-- <div class="box d-flex justify-content-between w-100"> -->
      <div class="shopName mx-5">
        {{ shopDetails?.shopName | titlecase }}
      </div>
      <div class="search d-flex align-items-center">
        <div class="d-flex">
          <form class="d-flex px-2">
            <input type="text" nz-input placeholder="Search..." />
            <button nz-button>Search</button>
          </form>
          <button class="text-center" nz-button>
            <span class="material-icons"> favorite_border </span>
          </button>
        </div>
        <button
          class="d-flex mx-2"
          nz-button
          nz-popover
          nzPopoverTitle="Shop Offers"
          [nzPopoverContent]="contentTemplate"
          nzPopoverPlacement="bottomLeft"
        >
          <span class="material-icons px-2"> local_offer </span>
          <div>Offers</div>
          <ng-template #contentTemplate>
            <div>
              <p>Content</p>
              <p>Content</p>
            </div>
          </ng-template>
        </button>
      </div>
      <!-- </div> -->
      <!-- <a class="active" href="javascript:void(0)">Home</a>
      <a href="javascript:void(0)">News</a>
      <a href="javascript:void(0)">Contact</a> -->
    </div>
  </div>
  <div class="item-content content" id="content">
    <div class="row w-100">
      <div class="col-md-2 p-0 m-0 border border-1" id="leftBox">
        <div class="recommend">
          <a
            [ngClass]="{ active: selectedItem == rec }"
            (click)="listClick($event, rec)"
            *ngFor="let rec of Recommendation"
            href="{{ route }}#{{ rec }}"
            class="items"
            >{{ rec }}
          </a>
        </div>
      </div>
      <div class="col-md-6" id="centerBox">
        <div class="itemdetails px-3">
          <div class="category" *ngFor="let prod of products">
            <h5 id="{{ getCategoryName(prod?.categoryId) }}">
              {{ getCategoryName(prod?.categoryId) | titlecase }}
            </h5>
            <div
              class="
                items
                d-flex
                justify-content-between
                align-items-center
                px-3
                py-2
              "
              *ngFor="let item of prod?.data"
            >
              <div class="d-flex align-items-center">
                <div class="dot"></div>
                <div class="productImg px-2">
                  <img
                    class="img-fluid"
                    style="width: 80px; height: 60px"
                    src="http://localhost:8090{{ item?.imageUrl[0] }}"
                  />
                </div>
                <div class="prodname px-1">
                  <div style="margin-bottom: 16px; letter-spacing: 0.4px">
                    {{ item?.productName | titlecase }}
                  </div>
                  <div class="rating">
                    <i nz-icon nzType="star" nzTheme="fill"></i>
                    <div class="px-1">4.7</div>
                  </div>
                </div>
              </div>
              <div class="d-flex align-items-center">
                <div class="action-button">
                  <button
                    (click)="addQuantity(item)"
                    class="addtocartbtn"
                    mat-stroked-button
                  >
                    {{
                      !cardItemList?.includes(item?._id) ? "Add" : "Coustomise"
                    }}
                  </button>
                  <div>
                    <small class="text-muted">Available In</small>
                    <small
                      class="text-muted"
                      *ngFor="let i of item?.quantitySet"
                    >
                      {{ i?.availablein }},</small
                    >
                  </div>
                </div>
              </div>
            </div>
            <hr />
          </div>
        </div>
      </div>
      <div class="col-md-4 p-0 m-0" id="rightBox">
        <div class="cart">
          <zip-card-container [CardConfig]="cardConfig"></zip-card-container>
        </div>
      </div>
    </div>
  </div>
  <button
    *ngIf="scrollValue > 750"
    (click)="moveTop()"
    id="myBtn"
    title="filter"
  >
    <mat-icon>arrow_upward</mat-icon>
  </button>
  <!-- <nz-back-top></nz-back-top> -->
</div>

<ngx-spinner
  bdColor="rgba(0, 0, 0, 0.2)"
  size="medium"
  color="#fff"
  type="line-scale"
  [fullScreen]="true"
  ><h1 style="color: #000; margin-top: 20px"></h1
></ngx-spinner>
